- @LAST_LESSON = 12

h1.text-center Men's Study

p.mt-3.text-center
  ' Join us each Wednesday at 7:00 PM for our men's study.


.row.mt-5
  .col-md-12.text-center
    h4 Fundamentals of the Faith

.row.text-center

  - [1..@LAST_LESSON].flat_map(&:to_a).each do |i|
    .col-md-4.mt-3
      a target="_blank" href="/files/mens-study/fundamentals/Lesson-#{"%02d" % i}.pdf"
        ' Lesson #{i}
        span.small
          | (.pdf)

p.mt-5.text-center Additional handouts will be posted here as they become available.
