h1.text-center.m-5.d-xl-none The Westminster Confession of Faith

.container-fluid.mb-5
  .row.flex-xl-nowrap

    .col-10.col-xl-2.offset-xl-1
      #left-sidebar
        ol type=1
          li: a href="#Chapter_01"  Of the Holy Scripture
          li: a href="#Chapter_02"  Of God, and of the Holy Trinity
          li: a href="#Chapter_03"  Of God's Eternal Decree
          li: a href="#Chapter_04"  Of Creation
          li: a href="#Chapter_05"  Of Providence
          li: a href="#Chapter_06"  Of the Fall of Man, of Sin, and of the Punishment Thereof
          li: a href="#Chapter_07"  Of God's Covenant with Man
          li: a href="#Chapter_08"  Of Christ the Mediator
          li: a href="#Chapter_09"  Of Free Will
          li: a href="#Chapter_10"  Of Effectual Calling
          li: a href="#Chapter_11"  Of Justification
          li: a href="#Chapter_12"  Of Adoption
          li: a href="#Chapter_13"  Of Sanctification
          li: a href="#Chapter_14"  Of Saving Faith
          li: a href="#Chapter_15"  Of Repentance unto Life
          li: a href="#Chapter_16"  Of Good Works
          li: a href="#Chapter_17"  Of the Perseverance of the Saints
          li: a href="#Chapter_18"  Of the Assurance of Grace and Salvation
          li: a href="#Chapter_19"  Of the Law of God
          li: a href="#Chapter_20"  Of Christian Liberty, and Liberty of Conscience
          li: a href="#Chapter_21"  Of Religious Worship, and the Sabbath Day
          li: a href="#Chapter_22"  Of Lawful Oaths and Vows
          li: a href="#Chapter_23"  Of the Civil Magistrate
          li: a href="#Chapter_24"  Of Marriage and Divorce
          li: a href="#Chapter_25"  Of the Church
          li: a href="#Chapter_26"  Of the Communion of Saints
          li: a href="#Chapter_27"  Of the Sacraments
          li: a href="#Chapter_28"  Of Baptism
          li: a href="#Chapter_29"  Of the Lord's Supper
          li: a href="#Chapter_30"  Of Church Censures
          li: a href="#Chapter_31"  Of Synods and Councils
          li: a href="#Chapter_32"  Of the State of Men after Death, and of the Resurrection of the Dead
          li: a href="#Chapter_33"  Of the Last Judgment

    .col-10.col-xl-5.offset-1
      h1.text-center.mt-5.d-none.d-xl-block The Westminster Confession of Faith

      .text-center.mt-5
        h4#Chapter_01 Chapter 1
        h2.mb-5 Of the Holy Scripture
      p 1. Although the light of nature, and the works of creation and providence do so far manifest the goodness, wisdom, and power of God, as to leave men unexcusable; yet are they not sufficient to give that knowledge of God, and of his will, which is necessary unto salvation. Therefore it pleased the Lord, at sundry times, and in divers manners, to reveal himself, and to declare that his will unto his church; and afterwards, for the better preserving and propagating of the truth, and for the more sure establishment and comfort of the church against the corruption of the flesh, and the malice of Satan and of the world, to commit the same wholly unto writing: which maketh the Holy Scripture to be most necessary; those former ways of God's revealing his will unto his people being now ceased.
      p 2. Under the name of Holy Scripture, or the Word of God written, are now contained all the books of the Old and New Testaments, which are these:

      h5.text-center.mt-5.mb-3 Of the Old Testament:

      .table-responsive-sm
        table.table.table-sm.table-borderless
          tbody
            tr
              td Genesis
              td II Chronicles
              td Daniel
            tr
              td Exodus
              td Ezra
              td Hosea
            tr
              td Leviticus
              td Nehemiah
              td Joel
            tr
              td Numbers
              td Esther
              td Amos
            tr
              td Deuteronomy
              td Job
              td Obadiah
            tr
              td Joshua
              td Psalms
              td Jonah
            tr
              td Judges
              td Proverbs
              td Micah
            tr
              td Ruth
              td Ecclesiastes
              td Nahum
            tr
              td I Samuel
              td The Song of Songs
              td Habakkuk
            tr
              td II Samuel
              td Isaiah
              td Zephaniah
            tr
              td I Kings
              td Jeremiah
              td Haggai
            tr
              td II Kings
              td Lamentations
              td Zechariah
            tr
              td I Chronicles
              td Ezekiel
              td Malachi

      h5.text-center.mt-5.mb-3 Of the New Testament:
      .table-responsive-sm
        table.table.table-sm.table-borderless
          tbody
            tr
              td The Gospels
              td &nbsp;&nbsp;&nbsp;Galatians
              td The Epistle
            tr
              td &nbsp;&nbsp;&nbsp;according to
              td &nbsp;&nbsp;&nbsp;Ephesians
              td &nbsp;&nbsp;&nbsp;of James
            tr
              td &nbsp;&nbsp;&nbsp;Matthew
              td &nbsp;&nbsp;&nbsp;Philippians
              td The first and
            tr
              td &nbsp;&nbsp;&nbsp;Mark
              td &nbsp;&nbsp;&nbsp;Colossians
              td &nbsp;&nbsp;&nbsp;second Epistles
            tr
              td &nbsp;&nbsp;&nbsp;Luke
              td &nbsp;&nbsp;&nbsp;Thessalonians I
              td &nbsp;&nbsp;&nbsp;of Peter
            tr
              td &nbsp;&nbsp;&nbsp;John
              td &nbsp;&nbsp;&nbsp;Thessalonians II
              td The first, second,
            tr
              td The Acts of the
              td &nbsp;&nbsp;&nbsp;to Timothy I
              td &nbsp;&nbsp;&nbsp;and third Epistles
            tr
              td &nbsp;&nbsp;&nbsp;Apostles
              td &nbsp;&nbsp;&nbsp;to Timothy II
              td &nbsp;&nbsp;&nbsp;of John
            tr
              td Paul's Epistles
              td &nbsp;&nbsp;&nbsp;to Titus
              td The Epistle
            tr
              td &nbsp;&nbsp;&nbsp;to the Romans
              td &nbsp;&nbsp;&nbsp;to Philemon
              td &nbsp;&nbsp;&nbsp;of Jude
            tr
              td &nbsp;&nbsp;&nbsp;Corinthians I
              td The Epistle to
              td The Revelation
            tr
              td &nbsp;&nbsp;&nbsp;Corinthians II
              td &nbsp;&nbsp;&nbsp;the Hebrews
              td &nbsp;&nbsp;&nbsp;of John

      p.mt-5 All which are given by inspiration of God to be the rule of faith and life.
      p 3. The books commonly called Apocrypha, not being of divine inspiration, are no part of the canon of the Scripture, and therefore are of no authority in the church of God, nor to be any otherwise approved, or made use of, than other human writings.
      p 4. The authority of the Holy Scripture, for which it ought to be believed, and obeyed, dependeth not upon the testimony of any man, or church; but wholly upon God (who is truth itself) the author thereof: and therefore it is to be received, because it is the Word of God.
      p 5. We may be moved and induced by the testimony of the church to an high and reverent esteem of the Holy Scripture. And the heavenliness of the matter, the efficacy of the doctrine, the majesty of the style, the consent of all the parts, the scope of the whole (which is, to give all glory to God), the full discovery it makes of the only way of man's salvation, the many other incomparable excellencies, and the entire perfection thereof, are arguments whereby it doth abundantly evidence itself to be the Word of God: yet notwithstanding, our full persuasion and assurance of the infallible truth and divine authority thereof, is from the inward work of the Holy Spirit bearing witness by and with the Word in our hearts.
      p 6. The whole counsel of God concerning all things necessary for his own glory, man's salvation, faith and life, is either expressly set down in Scripture, or by good and necessary consequence may be deduced from Scripture: unto which nothing at any time is to be added, whether by new revelations of the Spirit, or traditions of men. Nevertheless, we acknowledge the inward illumination of the Spirit of God to be necessary for the saving understanding of such things as are revealed in the Word: and that there are some circumstances concerning the worship of God, and government of the church, common to human actions and societies, which are to be ordered by the light of nature, and Christian prudence, according to the general rules of the Word, which are always to be observed.
      p 7. All things in Scripture are not alike plain in themselves, nor alike clear unto all: yet those things which are necessary to be known, believed, and observed for salvation, are so clearly propounded, and opened in some place of Scripture or other, that not only the learned, but the unlearned, in a due use of the ordinary means, may attain unto a sufficient understanding of them.
      p 8. The Old Testament in Hebrew (which was the native language of the people of God of old), and the New Testament in Greek (which, at the time of the writing of it, was most generally known to the nations), being immediately inspired by God, and, by his singular care and providence, kept pure in all ages, are therefore authentical; so as, in all controversies of religion, the church is finally to appeal unto them. But, because these original tongues are not known to all the people of God, who have right unto, and interest in the Scriptures, and are commanded, in the fear of God, to read and search them, therefore they are to be translated into the vulgar language of every nation unto which they come, that, the Word of God dwelling plentifully in all, they may worship him in an acceptable manner; and, through patience and comfort of the Scriptures, may have hope.
      p 9. The infallible rule of interpretation of Scripture is the Scripture itself: and therefore, when there is a question about the true and full sense of any Scripture (which is not manifold, but one), it must be searched and known by other places that speak more clearly.
      p 10. The supreme judge by which all controversies of religion are to be determined, and all decrees of councils, opinions of ancient writers, doctrines of men, and private spirits, are to be examined, and in whose sentence we are to rest, can be no other but the Holy Spirit speaking in the Scripture.

      .text-center.mt-5
        h4#Chapter_02 Chapter 2
        h2.mb-5 Of God, and of the Holy Trinity
      p 1. There is but one only, living, and true God, who is infinite in being and perfection, a most pure spirit, invisible, without body, parts, or passions; immutable, immense, eternal, incomprehensible, almighty, most wise, most holy, most free, most absolute; working all things according to the counsel of his own immutable and most righteous will, for his own glory; most loving, gracious, merciful, long-suffering, abundant in goodness and truth, forgiving iniquity, transgression, and sin; the rewarder of them that diligently seek him; and withal, most just, and terrible in his judgments, hating all sin, and who will by no means clear the guilty.
      p 2. God hath all life, glory, goodness, blessedness, in and of himself; and is alone in and unto himself all-sufficient, not standing in need of any creatures which he hath made, nor deriving any glory from them, but only manifesting his own glory in, by, unto, and upon them. He is the alone fountain of all being, of whom, through whom, and to whom are all things; and hath most sovereign dominion over them, to do by them, for them, or upon them whatsoever himself pleaseth. In his sight all things are open and manifest, his knowledge is infinite, infallible, and independent upon the creature, so as nothing is to him contingent, or uncertain. He is most holy in all his counsels, in all his works, and in all his commands. To him is due from angels and men, and every other creature, whatsoever worship, service, or obedience he is pleased to require of them.
      p 3. In the unity of the Godhead there be three persons, of one substance, power, and eternity: God the Father, God the Son, and God the Holy Ghost: the Father is of none, neither begotten, nor proceeding; the Son is eternally begotten of the Father; the Holy Ghost eternally proceeding from the Father and the Son.

      .text-center.mt-5
        h4#Chapter_03 Chapter 3
        h2.mb-5 Of God's Eternal Decree
      p 1. God, from all eternity, did, by the most wise and holy counsel of his own will, freely, and unchangeably ordain whatsoever comes to pass: yet so, as thereby neither is God the author of sin, nor is violence offered to the will of the creatures; nor is the liberty or contingency of second causes taken away, but rather established.
      p 2. Although God knows whatsoever may or can come to pass upon all supposed conditions, yet hath he not decreed anything because he foresaw it as future, or as that which would come to pass upon such conditions.
      p 3. By the decree of God, for the manifestation of his glory, some men and angels are predestinated unto everlasting life; and others foreordained to everlasting death.
      p 4. These angels and men, thus predestinated, and foreordained, are particularly and unchangeably designed, and their number so certain and definite, that it cannot be either increased or diminished.
      p 5. Those of mankind that are predestinated unto life, God, before the foundation of the world was laid, according to his eternal and immutable purpose, and the secret counsel and good pleasure of his will, hath chosen, in Christ, unto everlasting glory, out of his mere free grace and love, without any foresight of faith, or good works, or perseverance in either of them, or any other thing in the creature, as conditions, or causes moving him thereunto; and all to the praise of his glorious grace.
      p 6. As God hath appointed the elect unto glory, so hath he, by the eternal and most free purpose of his will, foreordained all the means thereunto. Wherefore, they who are elected, being fallen in Adam, are redeemed by Christ, are effectually called unto faith in Christ by his Spirit working in due season, are justified, adopted, sanctified, and kept by his power, through faith, unto salvation. Neither are any other redeemed by Christ, effectually called, justified, adopted, sanctified, and saved, but the elect only.
      p 7. The rest of mankind God was pleased, according to the unsearchable counsel of his own will, whereby he extendeth or withholdeth mercy, as he pleaseth, for the glory of his sovereign power over his creatures, to pass by; and to ordain them to dishonor and wrath for their sin, to the praise of his glorious justice.
      p 8. The doctrine of this high mystery of predestination is to be handled with special prudence and care, that men, attending the will of God revealed in his Word, and yielding obedience thereunto, may, from the certainty of their effectual vocation, be assured of their eternal election. So shall this doctrine afford matter of praise, reverence, and admiration of God; and of humility, diligence, and abundant consolation to all that sincerely obey the gospel.

      .text-center.mt-5
        h4#Chapter_04 Chapter 4
        h2.mb-5 Of Creation
      p 1. It pleased God the Father, Son, and Holy Ghost, for the manifestation of the glory of his eternal power, wisdom, and goodness, in the beginning, to create, or make of nothing, the world, and all things therein whether visible or invisible, in the space of six days; and all very good.
      p 2. After God had made all other creatures, he created man, male and female, with reasonable and immortal souls, endued with knowledge, righteousness, and true holiness, after his own image; having the law of God written in their hearts, and power to fulfill it: and yet under a possibility of transgressing, being left to the liberty of their own will, which was subject unto change. Beside this law written in their hearts, they received a command, not to eat of the tree of the knowledge of good and evil; which while they kept, they were happy in their communion with God, and had dominion over the creatures.

      .text-center.mt-5
        h4#Chapter_05 Chapter 5
        h2.mb-5 Of Providence
      p 1. God the great Creator of all things doth uphold, direct, dispose, and govern all creatures, actions, and things, from the greatest even to the least, by his most wise and holy providence, according to his infallible foreknowledge, and the free and immutable counsel of his own will, to the praise of the glory of his wisdom, power, justice, goodness, and mercy.
      p 2. Although, in relation to the foreknowledge and decree of God, the first Cause, all things come to pass immutably, and infallibly; yet, by the same providence, he ordereth them to fall out, according to the nature of second causes, either necessarily, freely, or contingently.
      p 3. God, in his ordinary providence, maketh use of means, yet is free to work without, above, and against them, at his pleasure.
      p 4. The almighty power, unsearchable wisdom, and infinite goodness of God so far manifest themselves in his providence, that it extendeth itself even to the first fall, and all other sins of angels and men; and that not by a bare permission, but such as hath joined with it a most wise and powerful bounding, and otherwise ordering, and governing of them, in a manifold dispensation, to his own holy ends; yet so, as the sinfulness thereof proceedeth only from the creature, and not from God, who, being most holy and righteous, neither is nor can be the author or approver of sin.
      p 5. The most wise, righteous, and gracious God doth oftentimes leave, for a season, his own children to manifold temptations, and the corruption of their own hearts, to chastise them for their former sins, or to discover unto them the hidden strength of corruption and deceitfulness of their hearts, that they may be humbled; and, to raise them to a more close and constant dependence for their support upon himself, and to make them more watchful against all future occasions of sin, and for sundry other just and holy ends.
      p 6. As for those wicked and ungodly men whom God, as a righteous Judge, for former sins, doth blind and harden, from them he not only withholdeth his grace whereby they might have been enlightened in their understandings, and wrought upon in their hearts; but sometimes also withdraweth the gifts which they had, and exposeth them to such objects as their corruption makes occasions of sin; and, withal, gives them over to their own lusts, the temptations of the world, and the power of Satan, whereby it comes to pass that they harden themselves, even under those means which God useth for the softening of others.
      p 7. As the providence of God doth, in general, reach to all creatures; so, after a most special manner, it taketh care of his church, and disposeth all things to the good thereof.

      .text-center.mt-5
        h4#Chapter_06 Chapter 6
        h2.mb-5 Of the Fall of Man, of Sin, and of the Punishment Thereof
      p 1. Our first parents, being seduced by the subtlety and temptation of Satan, sinned, in eating the forbidden fruit. This their sin, God was pleased, according to his wise and holy counsel, to permit, having purposed to order it to his own glory.
      p 2. By this sin they fell from their original righteousness and communion with God, and so became dead in sin, and wholly defiled in all the parts and faculties of soul and body.
      p 3. They being the root of all mankind, the guilt of this sin was imputed; and the same death in sin, and corrupted nature, conveyed to all their posterity descending from them by ordinary generation.
      p 4. From this original corruption, whereby we are utterly indisposed, disabled, and made opposite to all good, and wholly inclined to all evil, do proceed all actual transgressions.
      p 5. This corruption of nature, during this life, doth remain in those that are regenerated; and although it be, through Christ, pardoned, and mortified; yet both itself, and all the motions thereof, are truly and properly sin.
      p 6. Every sin, both original and actual, being a transgression of the righteous law of God, and contrary thereunto, doth, in its own nature, bring guilt upon the sinner, whereby he is bound over to the wrath of God, and curse of the law, and so made subject to death, with all miseries spiritual, temporal, and eternal.

      .text-center.mt-5
        h4#Chapter_07 Chapter 7
        h2.mb-5 Of God's Covenant with Man
      p 1. The distance between God and the creature is so great, that although reasonable creatures do owe obedience unto him as their Creator, yet they could never have any fruition of him as their blessedness and reward, but by some voluntary condescension on God's part, which he hath been pleased to express by way of covenant.
      p 2. The first covenant made with man was a covenant of works, wherein life was promised to Adam; and in him to his posterity, upon condition of perfect and personal obedience.
      p 3. Man, by his fall, having made himself incapable of life by that covenant, the Lord was pleased to make a second, commonly called the covenant of grace; wherein he freely offereth unto sinners life and salvation by Jesus Christ; requiring of them faith in him, that they may be saved, and promising to give unto all those that are ordained unto eternal life his Holy Spirit, to make them willing, and able to believe.
      p 4. This covenant of grace is frequently set forth in Scripture by the name of a testament, in reference to the death of Jesus Christ the Testator, and to the everlasting inheritance, with all things belonging to it, therein bequeathed.
      p 5. This covenant was differently administered in the time of the law, and in the time of the gospel: under the law, it was administered by promises, prophecies, sacrifices, circumcision, the paschal lamb, and other types and ordinances delivered to the people of the Jews, all foresignifying Christ to come; which were, for that time, sufficient and efficacious, through the operation of the Spirit, to instruct and build up the elect in faith in the promised Messiah, by whom they had full remission of sins, and eternal salvation; and is called the old testament.
      p 6. Under the gospel, when Christ, the substance, was exhibited, the ordinances in which this covenant is dispensed are the preaching of the Word, and the administration of the sacraments of baptism and the Lord's Supper: which, though fewer in number, and administered with more simplicity, and less outward glory, yet, in them, it is held forth in more fullness, evidence and spiritual efficacy, to all nations, both Jews and Gentiles; and is called the new testament. There are not therefore two covenants of grace, differing in substance, but one and the same, under various dispensations.

      .text-center.mt-5
        h4#Chapter_08 Chapter 8
        h2.mb-5 Of Christ the Mediator
      p 1. It pleased God, in his eternal purpose, to choose and ordain the Lord Jesus, his only begotten Son, to be the Mediator between God and man, the Prophet, Priest, and King, the Head and Savior of his church, the Heir of all things, and Judge of the world: unto whom he did from all eternity give a people, to be his seed, and to be by him in time redeemed, called, justified, sanctified, and glorified.
      p 2. The Son of God, the second person in the Trinity, being very and eternal God, of one substance and equal with the Father, did, when the fullness of time was come, take upon him man's nature, with all the essential properties, and common infirmities thereof, yet without sin; being conceived by the power of the Holy Ghost, in the womb of the virgin Mary, of her substance. So that two whole, perfect, and distinct natures, the Godhead and the manhood, were inseparably joined together in one person, without conversion, composition, or confusion. Which person is very God, and very man, yet one Christ, the only Mediator between God and man.
      p 3. The Lord Jesus, in his human nature thus united to the divine, was sanctified, and anointed with the Holy Spirit, above measure, having in him all the treasures of wisdom and knowledge; in whom it pleased the Father that all fullness should dwell; to the end that, being holy, harmless, undefiled, and full of grace and truth, he might be thoroughly furnished to execute the office of a mediator, and surety. Which office he took not unto himself, but was thereunto called by his Father, who put all power and judgment into his hand, and gave him commandment to execute the same.
      p 4. This office the Lord Jesus did most willingly undertake; which that he might discharge, he was made under the law, and did perfectly fulfill it; endured most grievous torments immediately in his soul, and most painful sufferings in his body; was crucified, and died, was buried, and remained under the power of death, yet saw no corruption. On the third day he arose from the dead, with the same body in which he suffered, with which also he ascended into heaven, and there sitteth at the right hand of his Father, making intercession, and shall return, to judge men and angels, at the end of the world.
      p 5. The Lord Jesus, by his perfect obedience, and sacrifice of himself, which he, through the eternal Spirit, once offered up unto God, hath fully satisfied the justice of his Father; and purchased, not only reconciliation, but an everlasting inheritance in the kingdom of heaven, for all those whom the Father hath given unto him.
      p 6. Although the work of redemption was not actually wrought by Christ till after his incarnation, yet the virtue, efficacy, and benefits thereof were communicated unto the elect, in all ages successively from the beginning of the world, in and by those promises, types, and sacrifices, wherein he was revealed, and signified to be the seed of the woman which should bruise the serpent's head; and the Lamb slain from the beginning of the world; being yesterday and today the same, and forever.
      p 7. Christ, in the work of mediation, acts according to both natures, by each nature doing that which is proper to itself; yet, by reason of the unity of the person, that which is proper to one nature is sometimes in Scripture attributed to the person denominated by the other nature.
      p 8. To all those for whom Christ hath purchased redemption, he doth certainly and effectually apply and communicate the same; making intercession for them, and revealing unto them, in and by the Word, the mysteries of salvation; effectually persuading them by his Spirit to believe and obey, and governing their hearts by his Word and Spirit; overcoming all their enemies by his almighty power and wisdom, in such manner, and ways, as are most consonant to his wonderful and unsearchable dispensation.

      .text-center.mt-5
        h4#Chapter_09 Chapter 9
        h2.mb-5 Of Free Will
      p 1. God hath endued the will of man with that natural liberty, that it is neither forced, nor, by any absolute necessity of nature, determined to good, or evil.
      p 2. Man, in his state of innocency, had freedom, and power to will and to do that which was good and well pleasing to God; but yet, mutably, so that he might fall from it.
      p 3. Man, by his fall into a state of sin, hath wholly lost all ability of will to any spiritual good accompanying salvation: so as, a natural man, being altogether averse from that good, and dead in sin, is not able, by his own strength, to convert himself, or to prepare himself thereunto.
      p 4. When God converts a sinner, and translates him into the state of grace, he freeth him from his natural bondage under sin; and, by his grace alone, enables him freely to will and to do that which is spiritually good; yet so, as that by reason of his remaining corruption, he doth not perfectly, nor only, will that which is good, but doth also will that which is evil.
      p 5. The will of man is made perfectly and immutably free to good alone, in the state of glory only.

      .text-center.mt-5
        h4#Chapter_10 Chapter 10
        h2.mb-5 Of Effectual Calling
      p 1. All those whom God hath predestinated unto life, and those only, he is pleased, in his appointed and accepted time, effectually to call, by his Word and Spirit, out of that state of sin and death, in which they are by nature, to grace and salvation, by Jesus Christ; enlightening their minds spiritually and savingly to understand the things of God, taking away their heart of stone, and giving unto them a heart of flesh; renewing their wills, and, by his almighty power, determining them to that which is good, and effectually drawing them to Jesus Christ: yet so, as they come most freely, being made willing by his grace.
      p 2. This effectual call is of God's free and special grace alone, not from anything at all foreseen in man, who is altogether passive therein, until, being quickened and renewed by the Holy Spirit, he is thereby enabled to answer this call, and to embrace the grace offered and conveyed in it.
      p 3. Elect infants, dying in infancy, are regenerated, and saved by Christ, through the Spirit, who worketh when, and where, and how he pleaseth: so also are all other elect persons who are incapable of being outwardly called by the ministry of the Word.
      p 4. Others, not elected, although they may be called by the ministry of the Word, and may have some common operations of the Spirit, yet they never truly come unto Christ, and therefore cannot be saved: much less can men, not professing the Christian religion, be saved in any other way whatsoever, be they never so diligent to frame their lives according to the light of nature, and the laws of that religion they do profess. And, to assert and maintain that they may, is very pernicious, and to be detested.

      .text-center.mt-5
        h4#Chapter_11 Chapter 11
        h2.mb-5 Of Justification
      p 1. Those whom God effectually calleth, he also freely justifieth: not by infusing righteousness into them, but by pardoning their sins, and by accounting and accepting their persons as righteous; not for anything wrought in them, or done by them, but for Christ's sake alone; nor by imputing faith itself, the act of believing, or any other evangelical obedience to them, as their righteousness; but by imputing the obedience and satisfaction of Christ unto them, they receiving and resting on him and his righteousness, by faith; which faith they have not of themselves, it is the gift of God.
      p 2. Faith, thus receiving and resting on Christ and his righteousness, is the alone instrument of justification: yet is it not alone in the person justified, but is ever accompanied with all other saving graces, and is no dead faith, but worketh by love.
      p 3. Christ, by his obedience and death, did fully discharge the debt of all those that are thus justified, and did make a proper, real, and full satisfaction to his Father's justice in their behalf. Yet, inasmuch as he was given by the Father for them; and his obedience and satisfaction accepted in their stead; and both, freely, not for anything in them; their justification is only of free grace; that both the exact justice and rich grace of God might be glorified in the justification of sinners.
      p 4. God did, from all eternity, decree to justify all the elect, and Christ did, in the fullness of time, die for their sins, and rise again for their justification: nevertheless, they are not justified, until the Holy Spirit doth, in due time, actually apply Christ unto them.
      p 5. God doth continue to forgive the sins of those that are justified; and, although they can never fall from the state of justification, yet they may, by their sins, fall under God's fatherly displeasure, and not have the light of his countenance restored unto them, until they humble themselves, confess their sins, beg pardon, and renew their faith and repentance.
      p 6. The justification of believers under the old testament was, in all these respects, one and the same with the justification of believers under the new testament.

      .text-center.mt-5
        h4#Chapter_12 Chapter 12
        h2.mb-5 Of Adoption
      p 1. All those that are justified, God vouchsafeth, in and for his only Son Jesus Christ, to make partakers of the grace of adoption, by which they are taken into the number, and enjoy the liberties and privileges of the children of God, have his name put upon them, receive the Spirit of adoption, have access to the throne of grace with boldness, are enabled to cry, Abba, Father, are pitied, protected, provided for, and chastened by him, as by a father: yet never cast off, but sealed to the day of redemption; and inherit the promises, as heirs of everlasting salvation.

      .text-center.mt-5
        h4#Chapter_13 Chapter 13
        h2.mb-5 Of Sanctification
      p 1. They, who are once effectually called, and regenerated, having a new heart, and a new spirit created in them, are further sanctified, really and personally, through the virtue of Christ's death and resurrection, by his Word and Spirit dwelling in them: the dominion of the whole body of sin is destroyed, and the several lusts thereof are more and more weakened and mortified; and they more and more quickened and strengthened in all saving graces, to the practice of true holiness, without which no man shall see the Lord.
      p 2. This sanctification is throughout, in the whole man; yet imperfect in this life, there abiding still some remnants of corruption in every part; whence ariseth a continual and irreconcilable war, the flesh lusting against the Spirit, and the Spirit against the flesh.
      p 3. In which war, although the remaining corruption, for a time, may much prevail; yet, through the continual supply of strength from the sanctifying Spirit of Christ, the regenerate part doth overcome; and so, the saints grow in grace, perfecting holiness in the fear of God.

      .text-center.mt-5
        h4#Chapter_14 Chapter 14
        h2.mb-5 Of Saving Faith
      p 1. The grace of faith, whereby the elect are enabled to believe to the saving of their souls, is the work of the Spirit of Christ in their hearts, and is ordinarily wrought by the ministry of the Word, by which also, and by the administration of the sacraments, and prayer, it is increased and strengthened.
      p 2. By this faith, a Christian believeth to be true whatsoever is revealed in the Word, for the authority of God himself speaking therein; and acteth differently upon that which each particular passage thereof containeth; yielding obedience to the commands, trembling at the threatenings, and embracing the promises of God for this life, and that which is to come. But the principal acts of saving faith are accepting, receiving, and resting upon Christ alone for justification, sanctification, and eternal life, by virtue of the covenant of grace.
      p 3. This faith is different in degrees, weak or strong; may be often and many ways assailed, and weakened, but gets the victory: growing up in many to the attainment of a full assurance, through Christ, who is both the author and finisher of our faith.

      .text-center.mt-5
        h4#Chapter_15 Chapter 15
        h2.mb-5 Of Repentance unto Life
      p 1. Repentance unto life is an evangelical grace, the doctrine whereof is to be preached by every minister of the gospel, as well as that of faith in Christ.
      p 2. By it, a sinner, out of the sight and sense not only of the danger, but also of the filthiness and odiousness of his sins, as contrary to the holy nature, and righteous law of God; and upon the apprehension of his mercy in Christ to such as are penitent, so grieves for, and hates his sins, as to turn from them all unto God, purposing and endeavoring to walk with him in all the ways of his commandments.
      p 3. Although repentance be not to be rested in, as any satisfaction for sin, or any cause of the pardon thereof, which is the act of God's free grace in Christ; yet it is of such necessity to all sinners, that none may expect pardon without it.
      p 4. As there is no sin so small, but it deserves damnation; so there is no sin so great, that it can bring damnation upon those who truly repent.
      p 5. Men ought not to content themselves with a general repentance, but it is every man's duty to endeavor to repent of his particular sins, particularly.
      p 6. As every man is bound to make private confession of his sins to God, praying for the pardon thereof; upon which, and the forsaking of them, he shall find mercy; so, he that scandalizeth his brother, or the church of Christ, ought to be willing, by a private or public confession, and sorrow for his sin, to declare his repentance to those that are offended, who are thereupon to be reconciled to him, and in love to receive him.

      .text-center.mt-5
        h4#Chapter_16 Chapter 16
        h2.mb-5 Of Good Works
      p 1. Good works are only such as God hath commanded in his holy Word, and not such as, without the warrant thereof, are devised by men, out of blind zeal, or upon any pretense of good intention.
      p 2. These good works, done in obedience to God's commandments, are the fruits and evidences of a true and lively faith: and by them believers manifest their thankfulness, strengthen their assurance, edify their brethren, adorn the profession of the gospel, stop the mouths of the adversaries, and glorify God, whose workmanship they are, created in Christ Jesus thereunto, that, having their fruit unto holiness, they may have the end, eternal life.
      p 3. Their ability to do good works is not at all of themselves, but wholly from the Spirit of Christ. And that they may be enabled thereunto, beside the graces they have already received, there is required an actual influence of the same Holy Spirit, to work in them to will, and to do, of his good pleasure: yet are they not hereupon to grow negligent, as if they were not bound to perform any duty unless upon a special motion of the Spirit; but they ought to be diligent in stirring up the grace of God that is in them.
      p 4. They who, in their obedience, attain to the greatest height which is possible in this life, are so far from being able to supererogate, and to do more than God requires, as that they fall short of much which in duty they are bound to do.
      p 5. We cannot by our best works merit pardon of sin, or eternal life at the hand of God, by reason of the great disproportion that is between them and the glory to come; and the infinite distance that is between us and God, whom, by them, we can neither profit, nor satisfy for the debt of our former sins, but when we have done all we can, we have done but our duty, and are unprofitable servants: and because, as they are good, they proceed from his Spirit; and as they are wrought by us, they are defiled, and mixed with so much weakness and imperfection, that they cannot endure the severity of God's judgment.
      p 6. Notwithstanding, the persons of believers being accepted through Christ, their good works also are accepted in him; not as though they were in this life wholly unblamable and unreprovable in God's sight; but that he, looking upon them in his Son, is pleased to accept and reward that which is sincere, although accompanied with many weaknesses and imperfections.
      p 7. Works done by unregenerate men, although for the matter of them they may be things which God commands; and of good use both to themselves and others: yet, because they proceed not from an heart purified by faith; nor are done in a right manner, according to the Word; nor to a right end, the glory of God, they are therefore sinful, and cannot please God, or make a man meet to receive grace from God: and yet, their neglect of them is more sinful and displeasing unto God.

      .text-center.mt-5
        h4#Chapter_17 Chapter 17
        h2.mb-5 Of the Perseverance of the Saints
      p 1. They, whom God hath accepted in his Beloved, effectually called, and sanctified by his Spirit, can neither totally nor finally fall away from the state of grace, but shall certainly persevere therein to the end, and be eternally saved.
      p 2. This perseverance of the saints depends not upon their own free will, but upon the immutability of the decree of election, flowing from the free and unchangeable love of God the Father; upon the efficacy of the merit and intercession of Jesus Christ, the abiding of the Spirit, and of the seed of God within them, and the nature of the covenant of grace: from all which ariseth also the certainty and infallibility thereof.
      p 3. Nevertheless, they may, through the temptations of Satan and of the world, the prevalency of corruption remaining in them, and the neglect of the means of their preservation, fall into grievous sins; and, for a time, continue therein: whereby they incur God's displeasure, and grieve his Holy Spirit, come to be deprived of some measure of their graces and comforts, have their hearts hardened, and their consciences wounded; hurt and scandalize others, and bring temporal judgments upon themselves.

      .text-center.mt-5
        h4#Chapter_18 Chapter 18
        h2.mb-5 Of the Assurance of Grace and Salvation
      p 1. Although hypocrites and other unregenerate men may vainly deceive themselves with false hopes and carnal presumptions of being in the favor of God, and estate of salvation (which hope of theirs shall perish): yet such as truly believe in the Lord Jesus, and love him in sincerity, endeavoring to walk in all good conscience before him, may, in this life, be certainly assured that they are in the state of grace, and may rejoice in the hope of the glory of God, which hope shall never make them ashamed.
      p 2. This certainty is not a bare conjectural and probable persuasion grounded upon a fallible hope; but an infallible assurance of faith founded upon the divine truth of the promises of salvation, the inward evidence of those graces unto which these promises are made, the testimony of the Spirit of adoption witnessing with our spirits that we are the children of God, which Spirit is the earnest of our inheritance, whereby we are sealed to the day of redemption.
      p 3. This infallible assurance doth not so belong to the essence of faith, but that a true believer may wait long, and conflict with many difficulties before he be partaker of it: yet, being enabled by the Spirit to know the things which are freely given him of God, he may, without extraordinary revelation, in the right use of ordinary means, attain thereunto. And therefore it is the duty of everyone to give all diligence to make his calling and election sure, that thereby his heart may be enlarged in peace and joy in the Holy Ghost, in love and thankfulness to God, and in strength and cheerfulness in the duties of obedience, the proper fruits of this assurance; so far is it from inclining men to looseness.
      p 4. True believers may have the assurance of their salvation divers ways shaken, diminished, and intermitted; as, by negligence in preserving of it, by falling into some special sin which woundeth the conscience and grieveth the Spirit; by some sudden or vehement temptation, by God's withdrawing the light of his countenance, and suffering even such as fear him to walk in darkness and to have no light: yet are they never utterly destitute of that seed of God, and life of faith, that love of Christ and the brethren, that sincerity of heart, and conscience of duty, out of which, by the operation of the Spirit, this assurance may, in due time, be revived; and by the which, in the meantime, they are supported from utter despair.

      .text-center.mt-5
        h4#Chapter_19 Chapter 19
        h2.mb-5 Of the Law of God
      p 1. God gave to Adam a law, as a covenant of works, by which he bound him and all his posterity to personal, entire, exact, and perpetual obedience, promised life upon the fulfilling, and threatened death upon the breach of it, and endued him with power and ability to keep it.
      p 2. This law, after his fall, continued to be a perfect rule of righteousness; and, as such, was delivered by God upon Mount Sinai, in ten commandments, and written in two tables: the first four commandments containing our duty towards God; and the other six, our duty to man.
      p 3. Beside this law, commonly called moral, God was pleased to give to the people of Israel, as a church under age, ceremonial laws, containing several typical ordinances, partly of worship, prefiguring Christ, his graces, actions, sufferings, and benefits; and partly, holding forth divers instructions of moral duties. All which ceremonial laws are now abrogated, under the new testament.
      p 4. To them also, as a body politic, he gave sundry judicial laws, which expired together with the State of that people; not obliging any other now, further than the general equity thereof may require.
      p 5. The moral law doth forever bind all, as well justified persons as others, to the obedience thereof; and that, not only in regard of the matter contained in it, but also in respect of the authority of God the Creator, who gave it. Neither doth Christ, in the gospel, any way dissolve, but much strengthen this obligation.
      p 6. Although true believers be not under the law, as a covenant of works, to be thereby justified, or condemned; yet is it of great use to them, as well as to others; in that, as a rule of life informing them of the will of God, and their duty, it directs and binds them to walk accordingly; discovering also the sinful pollutions of their nature, hearts, and lives; so as, examining themselves thereby, they may come to further conviction of, humiliation for, and hatred against sin, together with a clearer sight of the need they have of Christ, and the perfection of his obedience. It is likewise of use to the regenerate, to restrain their corruptions, in that it forbids sin: and the threatenings of it serve to show what even their sins deserve; and what afflictions, in this life, they may expect for them, although freed from the curse thereof threatened in the law. The promises of it, in like manner, show them God's approbation of obedience, and what blessings they may expect upon the performance thereof: although not as due to them by the law as a covenant of works. So as, a man's doing good, and refraining from evil, because the law encourageth to the one, and deterreth from the other, is no evidence of his being under the law; and, not under grace.
      p 7. Neither are the forementioned uses of the law contrary to the grace of the gospel, but do sweetly comply with it; the Spirit of Christ subduing and enabling the will of man to do that freely, and cheerfully, which the will of God, revealed in the law, requireth to be done.

      .text-center.mt-5
        h4#Chapter_20 Chapter 20
        h2.mb-5 Of Christian Liberty, and Liberty of Conscience
      p 1. The liberty which Christ hath purchased for believers under the gospel consists in their freedom from the guilt of sin, the condemning wrath of God, the curse of the moral law; and, in their being delivered from this present evil world, bondage to Satan, and dominion of sin; from the evil of afflictions, the sting of death, the victory of the grave, and everlasting damnation; as also, in their free access to God, and their yielding obedience unto him, not out of slavish fear, but a childlike love and willing mind. All which were common also to believers under the law. But, under the new testament, the liberty of Christians is further enlarged, in their freedom from the yoke of the ceremonial law, to which the Jewish church was subjected; and in greater boldness of access to the throne of grace, and in fuller communications of the free Spirit of God, than believers under the law did ordinarily partake of.
      p 2. God alone is Lord of the conscience, and hath left it free from the doctrines and commandments of men, which are, in anything, contrary to his Word; or beside it, if matters of faith, or worship. So that, to believe such doctrines, or to obey such commands, out of conscience, is to betray true liberty of conscience: and the requiring of an implicit faith, and an absolute and blind obedience, is to destroy liberty of conscience, and reason also.
      p 3. They who, upon pretense of Christian liberty, do practice any sin, or cherish any lust, do thereby destroy the end of Christian liberty, which is, that being delivered out of the hands of our enemies, we might serve the Lord without fear, in holiness and righteousness before him, all the days of our life.
      p 4. And because the powers which God hath ordained, and the liberty which Christ hath purchased, are not intended by God to destroy, but mutually to uphold and preserve one another, they who, upon pretense of Christian liberty, shall oppose any lawful power, or the lawful exercise of it, whether it be civil or ecclesiastical, resist the ordinance of God. And, for their publishing of such opinions, or maintaining of such practices, as are contrary to the light of nature, or to the known principles of Christianity (whether concerning faith, worship, or conversation), or to the power of godliness; or, such erroneous opinions or practices, as either in their own nature, or in the manner of publishing or maintaining them, are destructive to the external peace and order which Christ hath established in the church, they may lawfully be called to account, and proceeded against, by the censures of the church.

      .text-center.mt-5
        h4#Chapter_21 Chapter 21
        h2.mb-5 Of Religious Worship, and the Sabbath Day
      p 1. The light of nature showeth that there is a God, who hath lordship and sovereignty over all, is good, and doth good unto all, and is therefore to be feared, loved, praised, called upon, trusted in, and served, with all the heart, and with all the soul, and with all the might. But the acceptable way of worshiping the true God is instituted by himself, and so limited by his own revealed will, that he may not be worshiped according to the imaginations and devices of men, or the suggestions of Satan, under any visible representation, or any other way not prescribed in the Holy Scripture.
      p 2. Religious worship is to be given to God, the Father, Son, and Holy Ghost; and to him alone; not to angels, saints, or any other creature: and, since the fall, not without a Mediator; nor in the mediation of any other but of Christ alone.
      p 3. Prayer, with thanksgiving, being one special part of religious worship, is by God required of all men: and, that it may be accepted, it is to be made in the name of the Son, by the help of his Spirit, according to his will, with understanding, reverence, humility, fervency, faith, love, and perseverance; and, if vocal, in a known tongue.
      p 4. Prayer is to be made for things lawful; and for all sorts of men living, or that shall live hereafter: but not for the dead, nor for those of whom it may be known that they have sinned the sin unto death.
      p 5. The reading of the Scriptures with godly fear, the sound preaching and conscionable hearing of the Word, in obedience unto God, with understanding, faith, and reverence, singing of psalms with grace in the heart; as also, the due administration and worthy receiving of the sacraments instituted by Christ, are all parts of the ordinary religious worship of God: beside religious oaths, vows, solemn fastings, and thanksgivings upon special occasions, which are, in their several times and seasons, to be used in an holy and religious manner.
      p 6. Neither prayer, nor any other part of religious worship, is now, under the gospel, either tied unto, or made more acceptable by any place in which it is performed, or towards which it is directed: but God is to be worshiped everywhere, in spirit and truth; as, in private families daily, and in secret, each one by himself; so, more solemnly in the public assemblies, which are not carelessly or willfully to be neglected, or forsaken, when God, by his Word or providence, calleth thereunto.
      p 7. As it is the law of nature, that, in general, a due proportion of time be set apart for the worship of God; so, in his Word, by a positive, moral, and perpetual commandment binding all men in all ages, he hath particularly appointed one day in seven, for a Sabbath, to be kept holy unto him: which, from the beginning of the world to the resurrection of Christ, was the last day of the week; and, from the resurrection of Christ, was changed into the first day of the week, which, in Scripture, is called the Lord's day, and is to be continued to the end of the world, as the Christian Sabbath.
      p 8. This Sabbath is then kept holy unto the Lord, when men, after a due preparing of their hearts, and ordering of their common affairs beforehand, do not only observe an holy rest, all the day, from their own works, words, and thoughts about their worldly employments and recreations, but also are taken up, the whole time, in the public and private exercises of his worship, and in the duties of necessity and mercy.

      .text-center.mt-5
        h4#Chapter_22 Chapter 22
        h2.mb-5 Of Lawful Oaths and Vows
      p 1. A lawful oath is a part of religious worship, wherein, upon just occasion, the person swearing solemnly calleth God to witness what he asserteth, or promiseth, and to judge him according to the truth or falsehood of what he sweareth.
      p 2. The name of God only is that by which men ought to swear, and therein it is to be used with all holy fear and reverence. Therefore, to swear vainly, or rashly, by that glorious and dreadful Name; or, to swear at all by any other thing, is sinful, and to be abhorred. Yet, as in matters of weight and moment, an oath is warranted by the Word of God, under the new testament as well as under the old; so a lawful oath, being imposed by lawful authority, in such matters, ought to be taken.
      p 3. Whosoever taketh an oath ought duly to consider the weightiness of so solemn an act, and therein to avouch nothing but what he is fully persuaded is the truth: neither may any man bind himself by oath to anything but what is good and just, and what he believeth so to be, and what he is able and resolved to perform.
      p 4. An oath is to be taken in the plain and common sense of the words, without equivocation, or mental reservation. It cannot oblige to sin; but in anything not sinful, being taken, it binds to performance, although to a man's own hurt. Nor is it to be violated, although made to heretics, or infidels.
      p 5. A vow is of the like nature with a promissory oath, and ought to be made with the like religious care, and to be performed with the like faithfulness.
      p 6. It is not to be made to any creature, but to God alone: and, that it may be accepted, it is to be made voluntarily, out of faith, and conscience of duty, in way of thankfulness for mercy received, or for the obtaining of what we want, whereby we more strictly bind ourselves to necessary duties; or, to other things, so far and so long as they may fitly conduce thereunto.
      p 7. No man may vow to do anything forbidden in the Word of God, or what would hinder any duty therein commanded, or which is not in his own power, and for the performance whereof he hath no promise of ability from God. In which respects, popish monastical vows of perpetual single life, professed poverty, and regular obedience, are so far from being degrees of higher perfection, that they are superstitious and sinful snares, in which no Christian may entangle himself.

      .text-center.mt-5
        h4#Chapter_23 Chapter 23
        h2.mb-5 Of the Civil Magistrate
      p 1. God, the supreme Lord and King of all the world, hath ordained civil magistrates, to be, under him, over the people, for his own glory, and the public good: and, to this end, hath armed them with the power of the sword, for the defense and encouragement of them that are good, and for the punishment of evildoers.
      p 2. It is lawful for Christians to accept and execute the office of a magistrate, when called thereunto: in the managing whereof, as they ought especially to maintain piety, justice, and peace, according to the wholesome laws of each commonwealth; so, for that end, they may lawfully, now under the new testament, wage war, upon just and necessary occasion.
      p 3. Civil magistrates may not assume to themselves the administration of the Word and sacraments; or the power of the keys of the kingdom of heaven; or, in the least, interfere in matters of faith. Yet, as nursing fathers, it is the duty of civil magistrates to protect the church of our common Lord, without giving the preference to any denomination of Christians above the rest, in such a manner that all ecclesiastical persons whatever shall enjoy the full, free, and unquestioned liberty of discharging every part of their sacred functions, without violence or danger. And, as Jesus Christ hath appointed a regular government and discipline in his church, no law of any commonwealth should interfere with, let, or hinder, the due exercise thereof, among the voluntary members of any denomination of Christians, according to their own profession and belief. It is the duty of civil magistrates to protect the person and good name of all their people, in such an effectual manner as that no person be suffered, either upon pretense of religion or of infidelity, to offer any indignity, violence, abuse, or injury to any other person whatsoever: and to take order, that all religious and ecclesiastical assemblies be held without molestation or disturbance.
      p 4. It is the duty of people to pray for magistrates, to honor their persons, to pay them tribute or other dues, to obey their lawful commands, and to be subject to their authority, for conscience' sake. Infidelity, or difference in religion, doth not make void the magistrates' just and legal authority, nor free the people from their due obedience to them: from which ecclesiastical persons are not exempted, much less hath the pope any power and jurisdiction over them in their dominions, or over any of their people; and, least of all, to deprive them of their dominions, or lives, if he shall judge them to be heretics, or upon any other pretense whatsoever.

      .text-center.mt-5
        h4#Chapter_24 Chapter 24
        h2.mb-5 Of Marriage and Divorce
      p 1. Marriage is to be between one man and one woman: neither is it lawful for any man to have more than one wife, nor for any woman to have more than one husband, at the same time.
      p 2. Marriage was ordained for the mutual help of husband and wife, for the increase of mankind with legitimate issue, and of the church with an holy seed; and for preventing of uncleanness.
      p 3. It is lawful for all sorts of people to marry, who are able with judgment to give their consent. Yet it is the duty of Christians to marry only in the Lord. And therefore such as profess the true reformed religion should not marry with infidels, papists, or other idolaters: neither should such as are godly be unequally yoked, by marrying with such as are notoriously wicked in their life, or maintain damnable heresies.
      p 4. Marriage ought not to be within the degrees of consanguinity or affinity forbidden by the Word. Nor can such incestuous marriages ever be made lawful by any law of man or consent of parties, so as those persons may live together as man and wife.
      p 5. Adultery or fornication committed after a contract, being detected before marriage, giveth just occasion to the innocent party to dissolve that contract. In the case of adultery after marriage, it is lawful for the innocent party to sue out a divorce: and, after the divorce, to marry another, as if the offending party were dead.
      p 6. Although the corruption of man be such as is apt to study arguments unduly to put asunder those whom God hath joined together in marriage: yet, nothing but adultery, or such willful desertion as can no way be remedied by the church, or civil magistrate, is cause sufficient of dissolving the bond of marriage: wherein, a public and orderly course of proceeding is to be observed; and the persons concerned in it not left to their own wills, and discretion, in their own case.

      .text-center.mt-5
        h4#Chapter_25 Chapter 25
        h2.mb-5 Of the Church
      p 1. The catholic or universal church, which is invisible, consists of the whole number of the elect, that have been, are, or shall be gathered into one, under Christ the Head thereof; and is the spouse, the body, the fullness of him that filleth all in all.
      p 2. The visible church, which is also catholic or universal under the gospel (not confined to one nation, as before under the law), consists of all those throughout the world that profess the true religion; and of their children: and is the kingdom of the Lord Jesus Christ, the house and family of God, out of which there is no ordinary possibility of salvation.
      p 3. Unto this catholic visible church Christ hath given the ministry, oracles, and ordinances of God, for the gathering and perfecting of the saints, in this life, to the end of the world: and doth, by his own presence and Spirit, according to his promise, make them effectual thereunto.
      p 4. This catholic church hath been sometimes more, sometimes less visible. And particular churches, which are members thereof, are more or less pure, according as the doctrine of the gospel is taught and embraced, ordinances administered, and public worship performed more or less purely in them.
      p 5. The purest churches under heaven are subject both to mixture and error; and some have so degenerated, as to become no churches of Christ, but synagogues of Satan. Nevertheless, there shall be always a church on earth, to worship God according to his will.
      p 6. There is no other head of the church but the Lord Jesus Christ. Nor can the pope of Rome, in any sense, be head thereof.

      .text-center.mt-5
        h4#Chapter_26 Chapter 26
        h2.mb-5 Of the Communion of Saints
      p 1. All saints, that are united to Jesus Christ their Head, by his Spirit, and by faith, have fellowship with him in his graces, sufferings, death, resurrection, and glory: and, being united to one another in love, they have communion in each other's gifts and graces, and are obliged to the performance of such duties, public and private, as do conduce to their mutual good, both in the inward and outward man.
      p 2. Saints by profession are bound to maintain an holy fellowship and communion in the worship of God, and in performing such other spiritual services as tend to their mutual edification; as also in relieving each other in outward things, according to their several abilities and necessities. Which communion, as God offereth opportunity, is to be extended unto all those who, in every place, call upon the name of the Lord Jesus.
      p 3. This communion which the saints have with Christ, doth not make them in any wise partakers of the substance of his Godhead; or to be equal with Christ in any respect: either of which to affirm is impious and blasphemous. Nor doth their communion one with another, as saints, take away, or infringe the title or propriety which each man hath in his goods and possessions.

      .text-center.mt-5
        h4#Chapter_27 Chapter 27
        h2.mb-5 Of the Sacraments
      p 1. Sacraments are holy signs and seals of the covenant of grace, immediately instituted by God, to represent Christ, and his benefits; and to confirm our interest in him: as also, to put a visible difference between those that belong unto the church, and the rest of the world; and solemnly to engage them to the service of God in Christ, according to his Word.
      p 2. There is, in every sacrament, a spiritual relation, or sacramental union, between the sign and the thing signified: whence it comes to pass, that the names and effects of the one are attributed to the other.
      p 3. The grace which is exhibited in or by the sacraments rightly used, is not conferred by any power in them; neither doth the efficacy of a sacrament depend upon the piety or intention of him that doth administer it: but upon the work of the Spirit, and the word of institution, which contains, together with a precept authorizing the use thereof, a promise of benefit to worthy receivers.
      p 4. There be only two sacraments ordained by Christ our Lord in the Gospel; that is to say, baptism, and the Supper of the Lord: neither of which may be dispensed by any, but by a minister of the Word lawfully ordained.
      p 5. The sacraments of the old testament, in regard of the spiritual things thereby signified and exhibited, were, for substance, the same with those of the new.

      .text-center.mt-5
        h4#Chapter_28 Chapter 28
        h2.mb-5 Of Baptism
      p 1. Baptism is a sacrament of the new testament, ordained by Jesus Christ, not only for the solemn admission of the party baptized into the visible church; but also, to be unto him a sign and seal of the covenant of grace, of his ingrafting into Christ, of regeneration, of remission of sins, and of his giving up unto God, through Jesus Christ, to walk in newness of life. Which sacrament is, by Christ's own appointment, to be continued in his church until the end of the world.
      p 2. The outward element to be used in this sacrament is water, wherewith the party is to be baptized, in the name of the Father, and of the Son, and of the Holy Ghost, by a minister of the gospel, lawfully called thereunto.
      p 3. Dipping of the person into the water is not necessary; but baptism is rightly administered by pouring, or sprinkling water upon the person.
      p 4. Not only those that do actually profess faith in and obedience unto Christ, but also the infants of one, or both, believing parents, are to be baptized.
      p 5. Although it be a great sin to contemn or neglect this ordinance, yet grace and salvation are not so inseparably annexed unto it, as that no person can be regenerated, or saved, without it; or, that all that are baptized are undoubtedly regenerated.
      p 6. The efficacy of baptism is not tied to that moment of time wherein it is administered; yet, notwithstanding, by the right use of this ordinance, the grace promised is not only offered, but really exhibited, and conferred, by the Holy Ghost, to such (whether of age or infants) as that grace belongeth unto, according to the counsel of God's own will, in his appointed time.
      p 7. The sacrament of baptism is but once to be administered unto any person.

      .text-center.mt-5
        h4#Chapter_29 Chapter 29
        h2.mb-5 Of the Lord's Supper
      p 1. Our Lord Jesus, in the night wherein he was betrayed, instituted the sacrament of his body and blood, called the Lord's Supper, to be observed in his church, unto the end of the world, for the perpetual remembrance of the sacrifice of himself in his death; the sealing all benefits thereof unto true believers, their spiritual nourishment and growth in him, their further engagement in and to all duties which they owe unto him; and, to be a bond and pledge of their communion with him, and with each other, as members of his mystical body.
      p 2. In this sacrament, Christ is not offered up to his Father; nor any real sacrifice made at all, for remission of sins of the quick or dead; but only a commemoration of that one offering up of himself, by himself, upon the cross, once for all: and a spiritual oblation of all possible praise unto God, for the same: so that the popish sacrifice of the mass (as they call it) is most abominably injurious to Christ's one, only sacrifice, the alone propitiation for all the sins of his elect.
      p 3. The Lord Jesus hath, in this ordinance, appointed his ministers to declare his word of institution to the people; to pray, and bless the elements of bread and wine, and thereby to set them apart from a common to an holy use; and to take and break the bread, to take the cup, and (they communicating also themselves) to give both to the communicants; but to none who are not then present in the congregation.
      p 4. Private masses, or receiving this sacrament by a priest, or any other, alone; as likewise, the denial of the cup to the people, worshiping the elements, the lifting them up, or carrying them about, for adoration, and the reserving them for any pretended religious use; are all contrary to the nature of this sacrament, and to the institution of Christ.
      p 5. The outward elements in this sacrament, duly set apart to the uses ordained by Christ, have such relation to him crucified, as that, truly, yet sacramentally only, they are sometimes called by the name of the things they represent, to wit, the body and blood of Christ; albeit, in substance and nature, they still remain truly and only bread and wine, as they were before.
      p 6. That doctrine which maintains a change of the substance of bread and wine, into the substance of Christ's body and blood (commonly called transubstantiation) by consecration of a priest, or by any other way, is repugnant, not to Scripture alone, but even to common sense, and reason; overthroweth the nature of the sacrament, and hath been, and is, the cause of manifold superstitions; yea, of gross idolatries.
      p 7. Worthy receivers, outwardly partaking of the visible elements, in this sacrament, do then also, inwardly by faith, really and indeed, yet not carnally and corporally but spiritually, receive, and feed upon, Christ crucified, and all benefits of his death: the body and blood of Christ being then, not corporally or carnally, in, with, or under the bread and wine; yet, as really, but spiritually, present to the faith of believers in that ordinance, as the elements themselves are to their outward senses.
      p 8. Although ignorant and wicked men receive the outward elements in this sacrament; yet, they receive not the thing signified thereby; but, by their unworthy coming thereunto, are guilty of the body and blood of the Lord, to their own damnation. Wherefore, all ignorant and ungodly persons, as they are unfit to enjoy communion with him, so are they unworthy of the Lord's table; and cannot, without great sin against Christ, while they remain such, partake of these holy mysteries, or be admitted thereunto.

      .text-center.mt-5
        h4#Chapter_30 Chapter 30
        h2.mb-5 Of Church Censures
      p 1. The Lord Jesus, as King and Head of his church, hath therein appointed a government, in the hand of church officers, distinct from the civil magistrate.
      p 2. To these officers the keys of the kingdom of heaven are committed; by virtue whereof, they have power, respectively, to retain, and remit sins; to shut that kingdom against the impenitent, both by the Word, and censures; and to open it unto penitent sinners, by the ministry of the gospel; and by absolution from censures, as occasion shall require.
      p 3. Church censures are necessary, for the reclaiming and gaining of offending brethren, for deterring of others from the like offenses, for purging out of that leaven which might infect the whole lump, for vindicating the honor of Christ, and the holy profession of the gospel, and for preventing the wrath of God, which might justly fall upon the church, if they should suffer his covenant, and the seals thereof, to be profaned by notorious and obstinate offenders.
      p 4. For the better attaining of these ends, the officers of the church are to proceed by admonition; suspension from the sacrament of the Lord's Supper for a season; and by excommunication from the church; according to the nature of the crime, and demerit of the person.

      .text-center.mt-5
        h4#Chapter_31 Chapter 31
        h2.mb-5 Of Synods and Councils
      p 1. For the better government, and further edification of the church, there ought to be such assemblies as are commonly called synods or councils: and it belongeth to the overseers and other rulers of the particular churches, by virtue of their office, and the power which Christ hath given them for edification and not for destruction, to appoint such assemblies; and to convene together in them, as often as they shall judge it expedient for the good of the church.
      p 2. It belongeth to synods and councils, ministerially to determine controversies of faith, and cases of conscience; to set down rules and directions for the better ordering of the public worship of God, and government of his church; to receive complaints in cases of maladministration, and authoritatively to determine the same: which decrees and determinations, if consonant to the Word of God, are to be received with reverence and submission; not only for their agreement with the Word, but also for the power whereby they are made, as being an ordinance of God appointed thereunto in his Word.
      p 3. All synods or councils, since the Apostles' times, whether general or particular, may err; and many have erred. Therefore they are not to be made the rule of faith, or practice; but to be used as a help in both.
      p 4. Synods and councils are to handle, or conclude nothing, but that which is ecclesiastical: and are not to intermeddle with civil affairs which concern the commonwealth, unless by way of humble petition in cases extraordinary; or, by way of advice, for satisfaction of conscience, if they be thereunto required by the civil magistrate.

      .text-center.mt-5
        h4#Chapter_32 Chapter 32
        h2.mb-5 Of the State of Men after Death, and of the Resurrection of the Dead
      p 1. The bodies of men, after death, return to dust, and see corruption: but their souls, which neither die nor sleep, having an immortal subsistence, immediately return to God who gave them: the souls of the righteous, being then made perfect in holiness, are received into the highest heavens, where they behold the face of God, in light and glory, waiting for the full redemption of their bodies. And the souls of the wicked are cast into hell, where they remain in torments and utter darkness, reserved to the judgment of the great day. Besides these two places, for souls separated from their bodies, the Scripture acknowledgeth none.
      p 2. At the last day, such as are found alive shall not die, but be changed: and all the dead shall be raised up, with the selfsame bodies, and none other (although with different qualities), which shall be united again to their souls forever.
      p 3. The bodies of the unjust shall, by the power of Christ, be raised to dishonor: the bodies of the just, by his Spirit, unto honor; and be made conformable to his own glorious body.

      .text-center.mt-5
        h4#Chapter_33 Chapter 33
        h2.mb-5 Of the Last Judgment
      p 1. God hath appointed a day, wherein he will judge the world, in righteousness, by Jesus Christ, to whom all power and judgment is given of the Father. In which day, not only the apostate angels shall be judged, but likewise all persons that have lived upon earth shall appear before the tribunal of Christ, to give an account of their thoughts, words, and deeds; and to receive according to what they have done in the body, whether good or evil.
      p 2. The end of God's appointing this day is for the manifestation of the glory of his mercy, in the eternal salvation of the elect; and of his justice, in the damnation of the reprobate, who are wicked and disobedient. For then shall the righteous go into everlasting life, and receive that fullness of joy and refreshing, which shall come from the presence of the Lord; but the wicked who know not God, and obey not the gospel of Jesus Christ, shall be cast into eternal torments, and be punished with everlasting destruction from the presence of the Lord, and from the glory of his power.
      p 3. As Christ would have us to be certainly persuaded that there shall be a day of judgment, both to deter all men from sin; and for the greater consolation of the godly in their adversity: so will he have that day unknown to men, that they may shake off all carnal security, and be always watchful, because they know not at what hour the Lord will come; and may be ever prepared to say, Come Lord Jesus, come quickly, Amen.

      a.d-xl-none href="#" Top
