#page-beliefs
  h1.text-center Our Beliefs

  p.mt-5
    | The Bible is the only inerrant, infallible, and authoritative rule for what
      we believe and practice.  Our understanding of Scripture's essential teaching
      is summarized in the Westminster Confession of Faith and the Westminster Larger and
      Shorter Catechisms.

  p
    | We also concur with several helpful and historic summaries of the Christian faith, such as the Apostles', Nicene, and Chalcedonian Creeds.

  #westminster-standards
    h2.mt-5 The Westminster Standards

    h3.mt-5 Online Versions

    p.mt-3
      a href="/wcf" Westminster Confession of Faith
    p.mt-3
      a href="/lc" Larger Catechism

    h3.mt-5 Downladable Versions (PDF)

    p.mt-3
      a href="/files/westminster-standards/WCFScriptureProofs.pdf" rel=("noopener noreferrer") target="_blank"  Westminster Confession of Faith with Scripture Proofs
    p.mt-3
      a href="/files/westminster-standards/LargerCatechismwithScriptureProofs1.pdf" rel=("noopener noreferrer") target="_blank"  Larger Catechism with Scripture Proofs, Part 1 (Questions 1-115)
    p.mt-3
      a href="/files/westminster-standards/Larger-CatechismwithScriptureProofs2.pdf" rel=("noopener noreferrer") target="_blank"  Larger Catechism with Scripture Proofs, Part 2 (Questions 116-196)
    p.mt-3
      a href="/files/westminster-standards/ShorterCatechismwithScriptureProofs.pdf" rel=("noopener noreferrer") target="_blank"  Shorter Catechism with Scripture Proofs
    p.mt-3
      a href="/files/westminster-standards/WCFScriptureIndex.pdf" rel=("noopener noreferrer") target="_blank"  Scripture Index

  .card.mt-5
    .card-body
      blockquote.blockquote.font-italic
        span.ldquo &ldquo;
        span
          | The supreme judge by which all controversies of religion are
            to be determined, and all decrees of councils, opinions of ancient
            writers, doctrines of men, and private spirits, are to be examined,
            and in whose sentence we are to rest, can be no other but the Holy
            Spirit speaking in the Scripture.
        span.rdquo &rdquo;
        footer.blockquote-footer.text-right Westminster Confession of Faith 1.9
