h1.mb-4 Thank you!

p We greatly appreciate your vital support as we endeaver faithfully to serve our Lord together.

p If you provided your contact information, you will receive a statement at the end of the year for tax purposes.

a.btn.btn-default.mt-5 href="/" Return to GCCReformed.com

.card.mt-5
  .card-body
    blockquote.blockquote.font-italic
      | &ldquo;
      | Bring the full tithe into the storehouse, that there may be food in my house.
        And thereby put me to the test, says the Lord of hosts, if I will not open the
        windows of heaven for you and pour down for you a blessing until there is no more need.
      | &rdquo;
      footer.blockquote-footer.text-right Malachi 3:10, ESV
