.address
  a.text-decoration-none.text-body href="https://goo.gl/maps/q8wLGjYtNBwCJ1m49" target="_blank"
    p.mb-2 Wayland Baptist University
    p.mb-2 8300 Pat Booker Road
    p.mb-2 Live Oak, TX 78233
