h1.text-center.mb-5 Mission & Purpose

.row.mb-5
  .col-10.offset-1
    p
      ' Our
      span.font-weight-bold> Purpose
      | is to obey our Lord's Great Commission (Matthew 28:18-20), creating disciples, furthering the Kingdom of
        God, and in so doing building a church that is pleasing to God.

    p
      ' Our
      span.font-weight-bold> Central Mission
      | is to share the Gospel of Jesus Christ and to adorn His Gospel with good works which reflect His
        love, compassion, mercy, and goodness.

    p
      ' We are determined to be
      span.font-weight-bold> Gospel-Driven
      | in the manner in which we reflect a loving and caring community within our church
        family and the various means we choose as a church to minister to the larger community in which God has placed us.

    p
      | We further seek to identify ourselves as a church that embraces the historic traditions of the Church, especially those
        traditions which clearly reflect the Truths of Scripture.

= partial "mission-and-purpose/who_we_are"


.row
  .col-lg-8.offset-lg-2
    .card.mt-5
      .card-body
        blockquote.blockquote.font-italic
          span.ldquo &ldquo;
          span
            | And Jesus came up and spoke to them, saying, &lsquo;All authority in heaven and on earth has been given to Me.
              Go, therefore, and make disciples of all the nations, baptizing them in the name of the Father and the Son and
              the Holy Spirit, teaching them to follow all that I commanded you; and behold, I am with you always, to the end
              of the age.&rsquo;
          span.rdquo &rdquo;
          footer.blockquote-footer.text-right Matthew 28:18-20
