#who-we-are.row
  .col-10.offset-1
    hr

    h2.text-center.mt-5 Who We Are
    .text-center.mb-4 By Pastor Dick Jones

    p
      | Grace Covenant Church is a loving, covenant community in which Christ is preeminent, and in
        which we seek to render honor and glory to God, especially through the worship and work of the
        church.

    p
      | We are Reformed in doctrine, Presbyterian in church polity (government), and Evangelical in our
        desire to proclaim Christ as He is offered in the Gospel. We intend to be purposeful in our desire
        to teach the whole counsel of God, as explained in the Old and New Testaments of Scripture.
        Our goal in the teaching of the church is to make disciples and to equip them with a Christian
        world and life view. Christ is the Head and King of the Church. Our fealty and devotion are to
        Him and our love of one another is because of Him.

    p
      | Further, we are so very conscious that the Church in our day is faced with overwhelming
        challenges. The culture in which God has placed us has been characterized as post-Christian.
        Increasingly, it would not be an exaggeration to say that much of America and the West has been
        anti-Christian. With this in mind, we would agree with the late, great Dr. James Montgomery
        Boice when he said,

    .border-left.pl-4.ml-4.mt-4.mb-4
      p
        ' “There is a sense in which our churches sometimes have almost stopped working. Years ago
          now there was an article in Christianity Today entitled, “Did Success Spoil American
          Protestantism?” The question of the title was answered in the affirmative, “Yes, it did.” ...As
          Protestantism won its great cultural victories in America, particularly in the nineteenth
          century, the Protestant church entered a period of internal decline that we see clearly today
          and will undoubtedly see more clearly in the years ahead. By its numerical and financial
          success, Protestantism became increasingly identified with American culture, and so became
          unable to speak prophetically to it, except in a few rare instances. Because of its very success
          the Protestant church became complacent. It became lazy. It lost its intellectual and cultural
          dynamic. And in far too many instances it largely abandoned a forthright proclamation of the
          Gospel. We need to reconstitute a working church in our day...Let me suggest three areas
          where true believers must work hard. First, we need to work hard in the intellectual areas. It
          is simply distressing to scout the shelves of modern way works on theology, biblical
          exegesis, literature, and social criticism, and find that the overwhelming proportion of the
          space is taken up by the works of those who deny the fundamental doctrines of Christianity.
          We need clear thinkers, winsome writers, and persuasive apologists who can reverse the
          trends we see around us. Second, we need to recapture a spirit of hard work in the social
          realm, for this is where the greatest action is taking place in our day. It was the strength of the
          Evangelical Christians united behind Wilberforce that led to the abolishing of the
          international slave trade in the British dominions in the last century. Evangelicals have led
          some of the great movements to abolish child labor and to introduce better working
          conditions into factories. Evangelicals launched the great social work conducted by the
          Salvation Army. ...Unfortunately, in this country most of the cutting edge of the evangelical’s
          social concern has been blunted, and the social arm of the church stands in need of
          resharpening.
        sup.font-weight-bold 1

      p
        ' “...We also need to work with renewed vigor in the area of evangelism. Evangelism has
          always been the one area of concern in which the conservative churches will cooperate. And
          yet, there has been a great falling short on this level also. People are not flocking to the
          churches today, even when they are welcome. Many will not even enter a Christian church.
          So if they are to be won, we must win them individually. We must win them, and we must do
          it on a one-to-one basis. We must make friends with those who are not real believers. We
          must come to know their problems. And we must be ready to apply Christian truths to them.”
        sup.font-weight-bold 2

    p
      | We are especially concerned with the terrible sin of abortion which has claimed well over sixty
        million preborn babies’ lives since the Roe v. Wade decision of 1973. This has been condoned
        and encouraged at the highest levels of our government and society. We believe that there are at
        least two victims in every abortion – the child and the mother. The mothers of aborted babies have
        been exploited and coerced by the abortion industry and a shameful culture of death. The silence
        of preachers in Evangelical churches about abortion is scandalous. The grave sin of abortion
        must be repented of and the sanctity of human life must be recognized and affirmed if America
        would escape the judgement of God.

    p
      | As moral chaos and destructive behavior have been encouraged in America, families and
        especially children are in danger. The moral consensus which was predominant in America since
        the founding of the American Republic has been repudiated and replaced by secular humanism
        and nihilism. The Church must speak forcefully regarding the wisdom of a moral consensus
        which is based on the Decalogue.

    p
      ' We are not a political entity, but we are not reluctant to speak prophetically to the political and
        social issues of our day. Yet, we do not want to be a church that only talks about the problems of
        our day; we want to be doers as well. We desire to serve as Christ’ s hands, feet, and heart to
        those He directs us to. This is our calling according to the clear teaching of the Word of God. We
        believe that this calling is the consequence and privilege of believing the Gospel of Christ –

      span.font-weight-bold
        ' “that Christ died, according to the Scriptures, that He was buried,
          and that He was raised on the third day according to the Scriptures”
      ' (1 Corinthians 15:3-4).

      | To quote the Apostle Paul – “Therefore my beloved
        brothers, be steadfast, immovable, always abounding in the work of the Lord, knowing that your
        labor is not in vain” (1 Corinthians 15:58).

    p
      ' It is only when a person believes the Gospel of Christ and receives Him into his heart and life,
        that he is redeemed and saved.

      span.font-weight-bold
        ' There is no other name given on earth or in heaven by which men might be saved
          – only the Lord Jesus Christ.

      | There is salvation in no other religion or
        supposed means of redemption; salvation can only be gained by grace alone, through faith alone,
        in Christ alone.

    p
      | At Grace Covenant Church, we believe this without reservation or equivocation.

.row.mt-3
  .col-5.offset-1
    hr

.row
  .col-10.offset-1
    p
      span.font-weight-bold> 1.
      | It must be acknowledged that the contemporary Salvation Army is no longer committed to evangelical
        orthodoxy.

    p
      span.font-weight-bold> 2.
      | Dr. Boice’s remarks are found in his commentary on Philippians.
