@font-face {
  font-family: 'Alegreya';
  src:
    url('/fonts/Alegreya/Alegreya-Regular.woff2') format('woff2'),
    url('/fonts/Alegreya/Alegreya-Regular.ttf')   format('truetype');
    font-weight: 400;
}

@font-face {
  font-family: 'Alegreya';
  src:
    url('/fonts/Alegreya/Alegreya-Medium.woff2') format('woff2'),
    url('/fonts/Alegreya/Alegreya-Medium.ttf')   format('truetype');
    font-weight: 500;
}

@font-face {
  font-family: 'Alegreya';
  src:
    url('/fonts/Alegreya/Alegreya-Bold.woff2') format('woff2'),
    url('/fonts/Alegreya/Alegreya-Bold.ttf')   format('truetype');
    font-weight: 600;
}



@font-face {
  font-family: 'Alegreya SC';
  src:
    url('/fonts/Alegreya_SC/AlegreyaSC-Regular.woff2') format('woff2'),
    url('/fonts/Alegreya_SC/AlegreyaSC-Regular.ttf')   format('truetype');
    font-weight: 400;
}

@font-face {
  font-family: 'Alegreya SC';
  src:
    url('/fonts/Alegreya_SC/AlegreyaSC-Medium.woff2') format('woff2')
    url('/fonts/Alegreya_SC/AlegreyaSC-Medium.ttf')   format('truetype');
    font-weight: 500;
}

@font-face {
  font-family: 'Alegreya SC';
  src:
    url('/fonts/Alegreya_SC/AlegreyaSC-Bold.woff2') format('woff2'),
    url('/fonts/Alegreya_SC/AlegreyaSC-Bold.ttf')   format('truetype');
    font-weight: 600;
}
