$breakpoint-sm: 540px
$breakpoint-md: 720px
$breakpoint-xl: 1140px

$brand-primary: #3a6f5a

$sermon-video-height: 315px
$sermon-video-width: 560px

html, body, #body-wrap
  height: 100%

#main-content
  flex-grow: 2

html
  @media only screen and (min-width: $breakpoint-xl)
    font-size: 150%

.text-danger
  color: #b44444 !important

h1, h2, .btn-primary, .navbar-brand, .nav-link, .btn, .small-caps
  font-family: 'Alegreya SC', serif;

*
  font-family: 'Alegreya', serif

a
 text-decoration: none
 &
  color: $brand-primary
 &:hover
  color: black !important

p
  font-size: 22px

.text-large
  font-size: 26px

button, .btn
  border-radius: 0
  font-size: 24px
  outline: none

  &:hover, &:focus, &:active
    background: $brand-primary !important
    border: 2px solid $brand-primary !important
    box-shadow: none !important

.btn-primary
  &, &:focus, &:active
    background: $brand-primary
    color: white !important
    border: 2px solid $brand-primary !important

  &:hover
    color: $brand-primary !important
    background-color: white !important

.btn-white
  &, &:focus, &:active
    background: transparent !important
    color: white !important
    border: 2px solid white !important

  &:hover
    color: $brand-primary !important
    background-color: white !important
    border: 2px solid $brand-primary !important

.btn-default
  &, &:focus, &:active
    background: white !important
    color: $brand-primary !important
    border: 2px solid $brand-primary !important

  &:hover
    color: white !important
    background-color: $brand-primary !important
    border: 2px solid $brand-primary !important

.btn-salvation-army
  $sa-red: #cb2a35
  &, &:focus, &:active
    background: white !important
    color: $sa-red !important
    border: 2px solid $sa-red !important

  &:hover
    color: white !important
    background-color: $sa-red !important
    border: 2px solid $sa-red !important

#navbar
  .navbar-brand
    font-size: 1.4rem

  .nav-link
    font-size: 1.2rem

  .navbar-brand, .nav-link
    &.btn-primary
      color: white !important
    &:hover
      color: $brand-primary !important

  .navbar-toggler
    &, &:focus, &:hover
      outline: none
      box-shadow: none
      background-color: white !important
      border: 1px solid #ddd !important

  img.celtic-cross
    height: 150px



#page-home
  .nav
    background-color: white !important

  .address p
    font-size: 25px

  #about-vanguard
    background-color: $brand-primary
    color: white

  #westminster-abbey-hero-image
    h4
      font-family: "Alegreya SC", serif

    p.lead
      font-weight: 500
      font-size: 32px
      @media only screen and (max-width: $breakpoint-md)
        font-size: 24px

    &.no-webp
      background-image: url(/images/Westminster_Abbey_xl.jpeg)
    &.webp
      background-image: url(/images/Westminster_Abbey_xl.webp)

    min-height: 600px
    background-size: cover
    background-repeat: no-repeat

    @media only screen and (max-width: $breakpoint-md)
      background-position: 50% 50%

    @media only screen and (min-width: $breakpoint-md)
      background-position: 0% 50%

    @media only screen and (max-width: $breakpoint-xl)
      min-height: 100px
      &.webp
        background-image: url(/images/Westminster_Abbey_lg.webp)
      &.no-webp
        background-image: url(/images/Westminster_Abbey_lg.jpeg)

#footer
  background-color: #252525
  color: #fff
  flex-grow: 1

  a
    color: white !important
    text-decoration: none
    &:hover
      color: lighten($brand-primary, 30%) !important

  img
    width: inherit

.text-small
  font-size: 16px

#page-give
  @media only screen and (max-width: $breakpoint-xl)
    .border-left
      border: none

#left-sidebar
  top: 120px
  position: sticky !important
  li
    font-size: 16px
  a
    color: black
    font-family: 'Alegreya SC', serif
    &:hover
      color: $brand-primary

#page-larger-catechism
  h3
    font-family: 'Alegreya SC', serif
    font-weight: 300

  .catechism-question
    margin-top: 2.75rem
    .small-caps
      font-weight: bold
      margin-right: 5px

    .answer
      margin-top: 1rem

.w-60
  width: 60% !important

.card-body .blockquote
  font-size: 26px

  .ldquo, .rdquo
    font-size: 34px

  .ldquo
    margin-right: 5px
  .rdquo
    margin-left: 3px

  .blockquote-footer
    font-size: 22px

#latest_sermon_wrapper
  .video-container
      position: relative
      padding-bottom: 56.25%
      height: 0
      overflow: hidden

      iframe, object, embed
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

  height: $sermon-video-height
  width:  $sermon-video-width
  margin: 0 auto

  @media only screen and (max-width: $breakpoint-md)
    width: 100%
    height: initial
    aspect-ratio: $sermon-video-width / $sermon-video-height
