- @LAST_LESSON = 50
- @FIRST_LESSON = @LAST_LESSON - 11

h1.text-center Sunday School

p.mt-3.text-center
  ' Join us each week at
  span.font-weight-bold> 9:30 AM
  | for Sunday School!


.row.mt-5
  .col-md-12.text-center
    h4 The Gospel of Luke

.row.text-center

  - [@FIRST_LESSON..@LAST_LESSON].flat_map(&:to_a).each do |i|
    .col-md-4.mt-3
      a target="_blank" href="/files/sunday-school/Luke/Lesson-#{i}.pdf"
        ' Lesson #{i}
        span.small
          | (.pdf)

p.mt-5.text-center Additional handouts will be posted here as they become available.
