#2023-11-26.mb-5
  h5.text-center.mb-4.mt-4 November 26, 2023
  p.text-center TPH 294 – Song of Zechariah
  p.text-center TPH 293 – O Come, O Come Emmanuel
  p.text-center Communion
  p.text-center TPH 300 – Come, Thou Long-Expected Jesus

hr

#2023-12-03.mb-5
  h5.text-center.mb-4.mt-4 December 3, 2023
  p.text-center TPH 319 – O Come, All Ye Faithful
  p.text-center TH 225 – Once in Royal David's City
  p.text-center TPH 308 – Good Christian Men, Rejoice

hr

#2023-12-10.mb-5
  h5.text-center.mb-4.mt-4 December 10, 2023
  p.text-center TPH 323 – O Little Town of Bethlehem
  p.text-center TPH 324 – Thou Who Wast Rich beyond All Splendor
  p.text-center Communion
  p.text-center TH 200 – It Came upon the Midnight Clear

hr

#2023-12-17.mb-5
  h5.text-center.mb-4.mt-4 December 17, 2023
  p.text-center TPH 318 – Angels We Have Heard on High
  p.text-center TPH 317 – What Child Is This
  p.text-center TH 211 – God Rest You Merry, Gentlemen

hr

#2023-12-24-am.mb-5
  h5.text-center.mb-4.mt-4 December 24, 2023 (AM)
  p.text-center TPH 299 – Joy to the World! The Lord Is Come
  p.text-center TPH 311 – Hark! the Herald Angels Sing
  p.text-center Communion
  p.text-center TPH 313 – Angels, from the Realms of Glory

hr

#2022-12-24-pm.mb-5
  h5.text-center.mb-4.mt-4 December 24, 2023 (PM)
  p.text-center TPH 293 – O Come, O Come Emmanuel
  p.text-center TH 204 – Away in a Manger
  p.text-center TPH 315 – Silent Night! Holy Night!
