script src="/js/luxon-2-4-0.min.js"

h1.text-center Worship Schedule

.container.mt-5
  #2024-01-07.mb-5
    h5.text-center.mb-4.mt-4 January 7, 2024
    p.text-center TPH 236 – To God be the Glory
    p.text-center TPH 526 – He Leadeth Me: O Blessed Thought!
    p.text-center TPH 243 – How Firm a Foundation

  hr

  #2024-01-14.mb-5
    h5.text-center.mb-4.mt-4 January 14, 2024
    p.text-center TPH 282 – I Greet Thee, Who My Sure Redeemer Art
    p.text-center TPH 281 – Rejoice, the Lord Is King
    p.text-center Communion
    p.text-center TPH 213 – Glory Be to God the Father

  hr

  #2024-01-21.mb-5
    h5.text-center.mb-4.mt-4 January 21, 2024
    p.text-center TPH 216 – Praise to the Lord, the Almighty
    p.text-center TPH 380 – Crown Him with Many Crowns
    p.text-center TPH 340 – There Is a Fountain Filled with Blood

  hr

  #2024-01-28.mb-5
    h5.text-center.mb-4.mt-4 January 28, 2024
    p.text-center TH 179 – Hallelujah! Thine the Glory
    p.text-center TPH 224 – Immortal, Invisible, God Only Wise
    p.text-center Communion
    p.text-center TPH 352 – Man of Sorrows! What a Name

  hr

  #2024-02-04.mb-5
    h5.text-center.mb-4.mt-4 February 4, 2024
    p.text-center TPH 212 – Come, Thou Almighty King
    p.text-center TPH 525 – Savior, Like a Shepherd Lead Us
    p.text-center TPH 275 – Arise, My Soul, Arise

  hr

  #2024-02-11.mb-5
    h5.text-center.mb-4.mt-4 February 11, 2024
    p.text-center TPH 415 – We Gather Together
    p.text-center TPH 1B – Psalm 1B (How Blest the Man)
    p.text-center Communion
    p.text-center TPH 196 – At the Lamb's High Feast We Sing

  hr

  #2024-02-18.mb-5
    h5.text-center.mb-4.mt-4 February 18, 2024
    p.text-center TPH 230 – Holy, Holy, Holy!
    p.text-center TPH 465 – Love Divine, All Loves Excelling
    p.text-center TPH 278 – Nothing but the Blood

  hr

  #2024-02-25.mb-5
    h5.text-center.mb-4.mt-4 February 25, 2024
    p.text-center TPH 99B – Psalm 99B (The Lord God Reigns in Majesty)
    p.text-center TPH 247 – We Praise You O God Our Redeemer Creator
    p.text-center Communion
    p.text-center TH 465 – Marvelous Grace of Our Loving Lord

  hr

  #2024-03-03.mb-5
    h5.text-center.mb-4.mt-4 March 3, 2024
    p.text-center TPH 374 – All Hail the Power of Jesus' Name
    p.text-center TH 355 – We Are God's People
    p.text-center TPH 245 – Great Is Thy Faithfulness

  hr

  #2024-03-10.mb-5
    h5.text-center.mb-4.mt-4 March 10, 2024
    p.text-center TPH 222 – O God Our Help in Ages Past
    p.text-center TPH 283 – Fairest Lord Jesus
    p.text-center Communion
    p.text-center TPH 433 – Amazing Grace

  hr

  #2024-03-17.mb-5
    h5.text-center.mb-4.mt-4 March 17, 2024
    p.text-center TPH 227 – How Great Thou Art
    p.text-center TPH 250 – I Sing the Almighty Power of God
    p.text-center TPH 452 – Rock of Ages, Cleft for Me

  hr

  #2024-03-24.mb-5
    h5.text-center.mb-4.mt-4 March 24, 2024
    p.text-center TPH 291 – O for a Thousand Tongues to Sing
    p.text-center TPH 425 – How Sweet and Awesome Is the Place
    p.text-center Communion
    p.text-center TPH 277 – Before the Throne of God Above

  hr

  #2024-03-29.mb-5
    h5.text-center.mt-4 March 29, 2024
    h6.text-center.mb-4 Good Friday
    p.text-center TPH 352 – Man of Sorrows! What a Name
    p.text-center TPH 336 – O Sacred Head Now Wounded
    p.text-center TPH 338 – When I Survey the Wondrous Cross

  hr

  #2024-03-31.mb-5
    h5.text-center.mt-4 March 31, 2024
    h6.text-center.mb-4 Resurrection Day
    p.text-center TPH 360 – Christ the Lord is Risen Today
    p.text-center TPH 367 – Up from the Grave He Arose
    p.text-center TPH 363 – Jesus Christ is Risen Today

  hr

  #2024-04-07.mb-5
    h5.text-center.mb-4.mt-4 April 7, 2024
    p.text-center TPH 236 – To God be the Glory
    p.text-center TPH 456 – Jesus! What a Friend for Sinners!
    p.text-center TPH 538 – Take My Life and Let It Be

  hr

  #2024-04-14.mb-5
    h5.text-center.mb-4.mt-4 April 14, 2024
    p.text-center TPH 213 – Glory Be to God the Father
    p.text-center TPH 380 – Crown Him with Many Crowns
    p.text-center Communion
    p.text-center TH 693 – Blessed Assurance

  hr

  #2024-04-21.mb-5
    h5.text-center.mb-4.mt-4 April 21, 2024
    p.text-center TPH 281 – Rejoice, the Lord Is King
    p.text-center TPH 216 – Praise to the Lord, the Almighty
    p.text-center TPH 374 – All Hail the Power of Jesus' Name

  hr

  #2024-04-28.mb-5
    h5.text-center.mb-4.mt-4 April 28, 2024
    p.text-center TPH 282 – I Greet Thee, Who My Sure Redeemer Art
    p.text-center TH 179 – Hallelujah! Thine the Glory
    p.text-center Communion
    p.text-center TPH 276 – Jesus Paid It All

  hr

  #2024-05-05.mb-5
    h5.text-center.mb-4.mt-4 May 5, 2024
    p.text-center TPH 224 – Immortal, Invisible, God Only Wise
    p.text-center TPH 248 – All Creatures of Our God and King
    p.text-center TPH 403 – Glorious Things of Thee Are Spoken

  hr

  #2024-05-12.mb-5
    h5.text-center.mb-4.mt-4 May 12, 2024
    p.text-center TPH 243 – How Firm a Foundation
    p.text-center TPH 249 – For the Beauty of the Earth
    p.text-center Communion
    p.text-center TPH 446 – Be Thou My Vision

  hr

  #2024-05-19.mb-5
    h5.text-center.mb-4.mt-4 May 19, 2024
    p.text-center TPH 212 – Come, Thou Almighty King
    p.text-center TPH 93 – Psalm 93 (The Lord Reigns over All)
    p.text-center TPH 459 – My Hope is Built on Nothing Less

  hr

  #2024-05-26.mb-5
    h5.text-center.mb-4.mt-4 May 26, 2024
    p.text-center TPH 415 – We Gather Together
    p.text-center TPH 103A – Psalm 103A (Bless the Lord, My Soul)
    p.text-center Communion
    p.text-center TPH 338 – When I Survey the Wondrous Cross

  hr

  #2024-06-02.mb-5
    h5.text-center.mb-4.mt-4 June 2, 2024
    p.text-center TPH 230 – Holy, Holy, Holy!
    p.text-center TPH 98C – Psalm 98C (Sing a New Song to Jehovah)
    p.text-center TPH 526 – He Leadeth Me: O Blessed Thought!

  hr

  #2024-06-09.mb-5
    h5.text-center.mb-4.mt-4 June 9, 2024
    p.text-center TPH 247 – We Praise You O God Our Redeemer Creator
    p.text-center TPH 275 – Arise, My Soul, Arise
    p.text-center Communion
    p.text-center TPH 352 – Man of Sorrows! What a Name

  hr

  #2024-06-16.mb-5
    h5.text-center.mb-4.mt-4 June 16, 2024
    p.text-center TH 355 – We Are God's People
    p.text-center TPH 525 – Savior, Like a Shepherd Lead Us
    p.text-center TPH 431 – And Can It Be That I Should Gain

  hr

  #2024-06-23.mb-5
    h5.text-center.mb-4.mt-4 June 23, 2024
    p.text-center TPH 219 – O Worship the King
    p.text-center TPH 244 – A Mighty Fortress Is Our God
    p.text-center Communion
    p.text-center TPH 340 – There Is a Fountain Filled with Blood

  hr

  #2024-06-30.mb-5
    h5.text-center.mb-4.mt-4 June 30, 2024
    p.text-center TPH 222 – O God Our Help in Ages Past
    p.text-center TPH 1B – Psalm 1B (How Blest the Man)
    p.text-center TPH 465 – Love Divine, All Loves Excelling

  hr

  #2024-07-07.mb-5
    h5.text-center.mb-4.mt-4 July 7, 2024
    p.text-center TPH 216 – Praise to the Lord, the Almighty
    p.text-center TPH 374 – All Hail the Power of Jesus' Name
    p.text-center Communion
    p.text-center TPH 196 – At the Lamb's High Feast We Sing

  hr

  #2024-07-14.mb-5
    h5.text-center.mb-4.mt-4 July 14, 2024
    p.text-center TPH 213 – Glory Be to God the Father
    p.text-center TPH 380 – Crown Him with Many Crowns
    p.text-center TH 465 – Marvelous Grace of Our Loving Lord

  hr

  #2024-07-21.mb-5
    h5.text-center.mb-4.mt-4 July 21, 2024
    p.text-center TPH 281 – Rejoice, the Lord Is King
    p.text-center TH 179 – Hallelujah! Thine the Glory
    p.text-center Communion
    p.text-center TPH 278 – Nothing but the Blood

  hr

  #2024-07-28.mb-5
    h5.text-center.mb-4.mt-4 July 28, 2024
    p.text-center TPH 282 – I Greet Thee, Who My Sure Redeemer Art
    p.text-center TPH 224 – Immortal, Invisible, God Only Wise
    p.text-center TPH 245 – Great Is Thy Faithfulness

  hr

  #2024-08-04.mb-5
    h5.text-center.mb-4.mt-4 August 4, 2024
    p.text-center TPH 227 – How Great Thou Art
    p.text-center TPH 99B – Psalm 99B (The Lord God Reigns in Majesty)
    p.text-center TPH 283 – Fairest Lord Jesus

  hr

  #2024-08-11.mb-5
    h5.text-center.mb-4.mt-4 August 11, 2024
    p.text-center TPH 291 – O for a Thousand Tongues to Sing
    p.text-center TPH 250 – I Sing the Almighty Power of God
    p.text-center Communion
    p.text-center TPH 433 – Amazing Grace

  hr

  #2024-08-18.mb-5
    h5.text-center.mb-4.mt-4 August 18, 2024
    p.text-center TPH 236 – To God be the Glory
    p.text-center TPH 425 – How Sweet and Awesome Is the Place
    p.text-center TPH 452 – Rock of Ages, Cleft for Me

  hr

  #2024-08-25.mb-5
    h5.text-center.mb-4.mt-4 August 25, 2024
    p.text-center TPH 243 – How Firm a Foundation
    p.text-center TPH 456 – Jesus! What a Friend for Sinners!
    p.text-center Communion
    p.text-center TPH 277 – Before the Throne of God Above

  hr

  #2024-09-01.mb-5
    h5.text-center.mb-4.mt-4 September 1, 2024
    p.text-center TPH 212 – Come, Thou Almighty King
    p.text-center TPH 248 – All Creatures of Our God and King
    p.text-center TPH 538 – Take My Life and Let It Be

  hr

  #2024-09-08.mb-5
    h5.text-center.mb-4.mt-4 September 8, 2024
    p.text-center TPH 415 – We Gather Together
    p.text-center TPH 403 – Glorious Things of Thee Are Spoken
    p.text-center Communion
    p.text-center TH 693 – Blessed Assurance

  hr

  #2024-09-15.mb-5
    h5.text-center.mb-4.mt-4 September 15, 2024
    p.text-center TPH 219 – O Worship the King
    p.text-center TPH 244 – A Mighty Fortress Is Our God
    p.text-center TPH 431 – And Can It Be That I Should Gain

  hr

  #2024-09-22.mb-5
    h5.text-center.mb-4.mt-4 September 22, 2024
    p.text-center TPH 230 – Holy, Holy, Holy!
    p.text-center TPH 249 – For the Beauty of the Earth
    p.text-center Communion
    p.text-center TPH 276 – Jesus Paid It All

  hr

  #2024-09-29.mb-5
    h5.text-center.mb-4.mt-4 September 29, 2024
    p.text-center TPH 213 – Glory Be to God the Father
    p.text-center TPH 380 – Crown Him with Many Crowns
    p.text-center TPH 446 – Be Thou My Vision

  hr

  #2024-10-06.mb-5
    h5.text-center.mb-4.mt-4 October 6, 2024
    p.text-center TPH 216 – Praise to the Lord, the Almighty
    p.text-center TPH 374 – All Hail the Power of Jesus' Name
    p.text-center TPH 459 – My Hope is Built on Nothing Less

  hr

  #2024-10-13.mb-5
    h5.text-center.mb-4.mt-4 October 13, 2024
    p.text-center TH 179 – Hallelujah! Thine the Glory
    p.text-center TPH 281 – Rejoice, the Lord Is King
    p.text-center Communion
    p.text-center TPH 338 – When I Survey the Wondrous Cross

  hr

  #2024-10-20.mb-5
    h5.text-center.mb-4.mt-4 October 20, 2024
    p.text-center TPH 224 – Immortal, Invisible, God Only Wise
    p.text-center TPH 282 – I Greet Thee, Who My Sure Redeemer Art
    p.text-center TPH 526 – He Leadeth Me: O Blessed Thought!

  hr

  #2024-10-27.mb-5
    h5.text-center.mb-4.mt-4 October 27, 2024
    p.text-center TPH 247 – We Praise You O God Our Redeemer Creator
    p.text-center TPH 93 – Psalm 93 (The Lord Reigns over All)
    p.text-center Communion
    p.text-center TPH 275 – Arise, My Soul, Arise

  hr

  #2024-11-03.mb-5
    h5.text-center.mb-4.mt-4 November 3, 2024
    p.text-center TH 355 – We Are God's People
    p.text-center TPH 103A – Psalm 103A (Bless the Lord, My Soul)
    p.text-center TPH 525 – Savior, Like a Shepherd Lead Us

  hr

  #2024-11-10.mb-5
    h5.text-center.mb-4.mt-4 November 10, 2024
    p.text-center TPH 222 – O God Our Help in Ages Past
    p.text-center TPH 98C – Psalm 98C (Sing a New Song to Jehovah)
    p.text-center Communion
    p.text-center TPH 352 – Man of Sorrows! What a Name

  hr

  #2024-11-17.mb-5
    h5.text-center.mb-4.mt-4 November 17, 2024
    p.text-center TPH 227 – How Great Thou Art
    p.text-center TPH 465 – Love Divine, All Loves Excelling
    p.text-center TPH 340 – There Is a Fountain Filled with Blood

  hr

  #2024-11-24.mb-5
    h5.text-center.mb-4.mt-4 November 24, 2024
    p.text-center TPH 294 – Song of Zechariah
    p.text-center TH 204 – Away in a Manger
    p.text-center Communion
    p.text-center TPH 300 – Come, Thou Long-Expected Jesus

  hr

  #2024-12-01.mb-5
    h5.text-center.mb-4.mt-4 December 1, 2024
    p.text-center TH 225 – Once in Royal David's City
    p.text-center TPH 293 – O Come, O Come Emmanuel
    p.text-center TH 200 – It Came upon the Midnight Clear

  hr

  #2024-12-08.mb-5
    h5.text-center.mb-4.mt-4 December 8, 2024
    p.text-center TPH 319 – O Come, All Ye Faithful
    p.text-center TPH 323 – O Little Town of Bethlehem
    p.text-center Communion
    p.text-center TPH 317 – What Child Is This

  hr

  #2024-12-15.mb-5
    h5.text-center.mb-4.mt-4 December 15, 2024
    p.text-center TPH 308 – Good Christian Men, Rejoice
    p.text-center TPH 318 – Angels We Have Heard on High
    p.text-center TH 211 – God Rest You Merry, Gentlemen

  hr

  #2024-12-22.mb-5
    h5.text-center.mb-4.mt-4 December 22, 2024
    p.text-center TPH 313 – Angels, from the Realms of Glory
    p.text-center TPH 311 – Hark! the Herald Angels Sing
    p.text-center Communion
    p.text-center TPH 299 – Joy to the World! The Lord Is Come

  hr

  #2022-12-24-pm.mb-5
    h5.text-center.mt-4 December 24, 2024
    h6.text-center.mb-4 Christmas Eve
    p.text-center TPH 293 – O Come, O Come Emmanuel
    p.text-center TH 204 – Away in a Manger
    p.text-center Communion
    p.text-center TPH 315 – Silent Night! Holy Night!

  hr

  #2024-12-29.mb-5
    h5.text-center.mb-4.mt-4 December 29, 2024
    p.text-center TPH 219 – O Worship the King
    p.text-center TPH 244 – A Mighty Fortress Is Our God
    p.text-center TH 693 – Blessed Assurance

javascript:
  $(document).ready(function() {
    const SUNDAY = 7;
    var now = luxon.DateTime.now();
    var date = (now.weekday === SUNDAY) ? now : now.startOf('week').plus({days: 6});
    var id = date.toFormat("'#'yyyy-MM-dd");
    var scrollTop = $(id).offset().top - 35;
    $("html, body").animate({ scrollTop: scrollTop }, 300);
  });
