.row
  .col-12
    h3 Reverend Dick Jones
    h4.font-weight-light.mb-3 Pastor

  .col-lg-4
    picture
      source srcset="/images/pastor-dick.webp" type="image/webp"
      img.w-100.mb-5 src="/images/pastor-dick.png"

  .col-lg-8
    p
      ' Pastor Dick Jones is a native Texan, growing up in Pasadena, located just
        southeast of Houston. Married in 1976 to Dede (Darr) Jones, they have three
        children: Anna (Jones) Ross, Aaron Jones, and Ian Jones, and nine
        grandchildren.  He is a graduate of Texas State University and has a Master's
        Degree in History from the University of Houston.  Pastor Jones attended Southwestern
        Theological Seminary and did post-graduate work with Whitefield Theological
        Seminary.

    p
      ' Pastor Jones was the Organizing Pastor of a Reformed church located here in the
        Hill Country, and continued to serve as Senior Pastor for 29 years.  In 2020,
        Pastor Jones accepted a call as Church Planter and Pastor of Grace Covenant
        Church of Vanguard Presbytery.

    p
      ' When asked who the most influential men have been in his ministry he
        unhesitatingly names the late Francis Schaeffer, R. C. Sproul and his first
        Pastor Darrell Robinson. Pastor Jones' ministry has been characterized as
        combining the theological and doctrinal emphases of both Schaeffer and Sproul,
        with a Baptist influence dating back to his early days as a young Christian in
        a Southern Baptist Church in Pasadena.

    p
      ' Pastor Jones is known for his Biblical teaching which is Reformed and
        uncompromising in presentation. He has served in a number of pro-life
        ministries and various mercy ministries during his three decades as a Senior
        Pastor, and continues to see these sorts of ministries an essential
        consequence of teaching and preaching the whole counsel of God.

    p
      ' Our church reflects those emphases in its work and worship, and is noted for
        honoring the biblical traditions of the Reformed Faith as well as by its desire
        to be Gospel-driven, welcoming all whom God draws to Christ, the King and Head of
        Grace Covenant Church.


hr.mt-5

.row.text-center.mt-5
  .col-12
    h3.mb-3 Ruling Elders
  .col-12
    h5.font-weight-light.mb-3 Jim Fritsch
    h5.font-weight-light.mb-3 Jason Kelske
    h5.font-weight-light.mb-3 Travis Sims

hr.mt-5

.row.text-center.mt-5
  .col-12
    h3.mb-3 Deacons
  .col-12
    h5.font-weight-light.mb-3 Frank Harris
    h5.font-weight-light.mb-3 Mark Vlahos
    h5.font-weight-light.mb-3 Joshua Williams
