script src="/js/luxon-2-4-0.min.js"

h1.text-center Worship Schedule

.container.mt-5
  #2022-05-15.mb-5
    h5.text-center.mb-4.mt-4 May 15, 2022
    p.text-center TPH 216 – Praise to the Lord, the Almighty
    p.text-center TPH 265 – In Christ Alone
    p.text-center TPH 276 – Jesus Paid It All

  hr

  #2022-05-22.mb-5
    h5.text-center.mb-4.mt-4 May 22, 2022
    p.text-center TPH 213 – Glory Be to God the Father
    p.text-center TPH 248 – All Creatures of Our God and King
    p.text-center Communion
    p.text-center TH 679 – 'Tis So Sweet to Trust in Jesus

  hr

  #2022-05-29.mb-5
    h5.text-center.mb-4.mt-4 May 29, 2022
    p.text-center TH 465 – Marvelous Grace of Our Loving Lord
    p.text-center TPH 186 – I'm Not Ashamed to Own My Lord
    p.text-center TH 533 – I Am Thine, O Lord, I Have Heard Thy Voice

  hr

  #2022-06-05.mb-5
    h5.text-center.mb-4.mt-4 June 5, 2022
    p.text-center TPH 247 – We Praise You O God Our Redeemer Creator
    p.text-center TPH 530 – Teach Me Thy Way, O Lord
    p.text-center TH 355 – We Are God's People

  hr

  #2022-06-12.mb-5
    h5.text-center.mb-4.mt-4 June 12, 2022
    p.text-center TPH 230 – Holy, Holy, Holy!
    p.text-center TPH 249 – For the Beauty of the Earth
    p.text-center Communion
    p.text-center TPH 374 – All Hail the Power of Jesus' Name

  hr

  #2022-06-19.mb-5
    h5.text-center.mb-4.mt-4 June 19, 2022
    p.text-center TPH 459 – My Hope is Built on Nothing Less
    p.text-center TPH 466 – My Faith Looks Up to Thee
    p.text-center TPH 446 – Be Thou My Vision

  hr

  #2022-06-26.mb-5
    h5.text-center.mb-4.mt-4 June 26, 2022
    p.text-center TPH 219 – O Worship the King
    p.text-center TPH 1B – Psalm 1B (How Blest the Man)
    p.text-center Communion
    p.text-center TPH 525 – Savior, Like a Shepherd Lead Us

  hr

  #2022-07-03.mb-5
    h5.text-center.mb-4.mt-4 July 3, 2022
    p.text-center TPH 282 – I Greet Thee, Who My Sure Redeemer Art
    p.text-center TPH 496 – My Jesus, I Love Thee
    p.text-center TPH 275 – Arise, My Soul, Arise

  hr

  #2022-07-10.mb-5
    h5.text-center.mb-4.mt-4 July 10, 2022
    p.text-center TPH 222 – O God Our Help in Ages Past
    p.text-center TPH 224 – Immortal, Invisible, God Only Wise
    p.text-center Communion
    p.text-center TPH 526 – He Leadeth Me: O Blessed Thought!

  hr

  #2022-07-17.mb-5
    h5.text-center.mb-4.mt-4 July 17, 2022
    p.text-center TPH 227 – How Great Thou Art
    p.text-center TPH 99B – Psalm 99B (The Lord God Reigns in Majesty)
    p.text-center TPH 340 – There Is a Fountain Filled with Blood

  hr

  #2022-07-24.mb-5
    h5.text-center.mb-4.mt-4 July 24, 2022
    p.text-center TH 465 – Marvelous Grace of Our Loving Lord
    p.text-center TH 179 – Hallelujah! Thine the Glory
    p.text-center TPH 249 – For the Beauty of the Earth

  hr

  #2022-07-31.mb-5
    h5.text-center.mb-4.mt-4 July 31, 2022
    p.text-center TPH 465 – Love Divine, All Loves Excelling
    p.text-center TPH 93 – Psalm 93 (The Lord Reigns over All)
    p.text-center Communion
    p.text-center TPH 278 – Nothing but the Blood

  hr

  #2022-08-07.mb-5
    h5.text-center.mb-4.mt-4 August 7, 2022
    p.text-center TPH 245 – Great Is Thy Faithfulness
    p.text-center TPH 380 – Crown Him with Many Crowns
    p.text-center TPH 433 – Amazing Grace

  hr

  #2022-08-14.mb-5
    h5.text-center.mb-4.mt-4 August 14, 2022
    p.text-center TPH 250 – I Sing the Almighty Power of God
    p.text-center TPH 517 – I Know Whom I Have Believed
    p.text-center Communion
    p.text-center TPH 281 – Rejoice, the Lord Is King

  hr

  #2022-08-21.mb-5
    h5.text-center.mb-4.mt-4 August 21, 2022
    p.text-center TPH 212 – Come, Thou Almighty King
    p.text-center TPH 236 – To God be the Glory
    p.text-center TPH 538 – Take My Life and Let It Be

  hr

  #2022-08-28.mb-5
    h5.text-center.mb-4.mt-4 August 28, 2022
    p.text-center TPH 425 – How Sweet and Awesome Is the Place
    p.text-center TPH 403 – Glorious Things of Thee Are Spoken
    p.text-center Communion
    p.text-center TPH 431 – And Can It Be That I Should Gain

  hr

  #2022-09-04.mb-5
    h5.text-center.mb-4.mt-4 September 4, 2022
    p.text-center TPH 244 – A Mighty Fortress Is Our God
    p.text-center TPH 283 – Fairest Lord Jesus
    p.text-center TH 693 – Blessed Assurance

  hr

  #2022-09-11.mb-5
    h5.text-center.mb-4.mt-4 September 11, 2022
    p.text-center TPH 291 – O for a Thousand Tongues to Sing
    p.text-center TPH 351 – How Deep the Father's Love for Us
    p.text-center Communion
    p.text-center TPH 452 – Rock of Ages, Cleft for Me

  hr

  #2022-09-18.mb-5
    h5.text-center.mb-4.mt-4 September 18, 2022
    p.text-center TPH 212 – Come, Thou Almighty King
    p.text-center TPH 277 – Before the Throne of God Above
    p.text-center TPH 243 – How Firm a Foundation

  hr

  #2022-09-25.mb-5
    h5.text-center.mb-4.mt-4 September 25, 2022
    p.text-center TPH 229 – Holy God, We Praise Your Name
    p.text-center TPH 172 – Speak, O Lord
    p.text-center Communion
    p.text-center TPH 338 – When I Survey the Wondrous Cross

  hr

  #2022-10-02.mb-5
    h5.text-center.mb-4.mt-4 October 2, 2022
    p.text-center TPH 216 – Praise to the Lord, the Almighty
    p.text-center TPH 265 – In Christ Alone
    p.text-center TH 265 – Jesus, Keep Me near the Cross

  hr

  #2022-10-09.mb-5
    h5.text-center.mb-4.mt-4 October 9, 2022
    p.text-center TPH 213 – Glory Be to God the Father
    p.text-center TPH 248 – All Creatures of Our God and King
    p.text-center Communion
    p.text-center TPH 352 – Man of Sorrows! What a Name

  hr

  #2022-10-16.mb-5
    h5.text-center.mb-4.mt-4 October 16, 2022
    p.text-center TPH 415 – We Gather Together
    p.text-center TPH 186 – I'm Not Ashamed to Own My Lord
    p.text-center TPH 276 – Jesus Paid It All

  hr

  #2022-10-23.mb-5
    h5.text-center.mb-4.mt-4 October 23, 2022
    p.text-center TH 355 – We Are God's People
    p.text-center TPH 530 – Teach Me Thy Way, O Lord
    p.text-center Communion
    p.text-center TPH 196 – At the Lamb's High Feast We Sing

  hr

  #2022-10-30.mb-5
    h5.text-center.mb-4.mt-4 October 30, 2022
    p.text-center TPH 230 – Holy, Holy, Holy!
    p.text-center TPH 374 – All Hail the Power of Jesus' Name
    p.text-center TH 679 – 'Tis So Sweet to Trust in Jesus

  hr

  #2022-11-06.mb-5
    h5.text-center.mb-4.mt-4 November 6, 2022
    p.text-center TPH 219 – O Worship the King
    p.text-center TPH 1B – Psalm 1B (How Blest the Man)
    p.text-center TPH 446 – Be Thou My Vision

  hr

  #2022-11-13.mb-5
    h5.text-center.mb-4.mt-4 November 13, 2022
    p.text-center TPH 282 – I Greet Thee, Who My Sure Redeemer Art
    p.text-center TPH 525 – Savior, Like a Shepherd Lead Us
    p.text-center Communion
    p.text-center TPH 196 – At the Lamb's High Feast We Sing

  hr

  #2022-11-20.mb-5
    h5.text-center.mb-4.mt-4 November 20, 2022
    p.text-center TPH 224 – Immortal, Invisible, God Only Wise
    p.text-center TPH 275 – Arise, My Soul, Arise
    p.text-center TPH 459 – My Hope is Built on Nothing Less

  hr

  = partial "/worship-schedule/advent_season"

javascript:
  $(document).ready(function() {
    const SUNDAY = 7;
    var now = luxon.DateTime.now();
    var date = (now.weekday === SUNDAY) ? now : now.startOf('week').plus({days: 6});
    var id = date.toFormat("'#'yyyy-MM-dd");
    $("html, body").animate({ scrollTop: $(id).offset().top }, 300);
  });
