- @YOUTUBE = config[:youtube]

script src="/js/embed_latest_sermon.js"

#westminster-abbey-hero-image.p-5.modernizr-webp
  .container.mh-5
    h1.text-center.mt-5 Welcome to Grace Covenant Church

    h4.text-center.mt-3.mb-5.font-weight-light A Congregation of the Vanguard Presbyterian Church

    p.lead.mt-5.mb-5
     |  We are a gospel-driven, confessionally Reformed church in northeast San Antonio.  Our aim is to glorify God in our worship, evangelism, discipleship, and Christian charity.


.container.text-center.pb-5

  / = partial "partials/homepage_alert"

  h2.mt-5 Worship and Study with Us

  .row
    .col-md-6.text-center.mt-5
      h4 Every Lord's Day
      h5.font-weight-normal.mt-4 Sunday School at 9:30 AM
      a.btn.btn-default.m-4 href="/sunday-school" Lesson Handouts

      h5.font-weight-normal.mt-4 Worship at at 11:00 AM

      h5.font-weight-normal.mt-4.mb-3 Currently, we meet at:

      = partial "partials/address/meeting_address"


    .col-md-6.mt-5
      iframe {src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11620.047721977204!2d-98.32913923712209!3d29.560159479786964!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc3eb5285a2fe62cb!2sWayland%20Baptist%20University%20-%20San%20Antonio!5e0!3m2!1sen!2sus!4v1641179912599!5m2!1sen!2sus"
              width="100%"
              height="400"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"}
      p.mt-2 We wish to thank Wayland Baptist University for the generous use of their beautiful campus!

  / .card.mt-5
    / .card-body
      / p Each month, we will memorize key doctrines of the faith and passages from sacred Scripture.
      / p Please join us in this fruitful endeavor!
      / a.btn.btn-default.m-3 href="/memorize" Memorization Schedule


  .row.mt-4
    .col-10.offset-1
      hr.mb-5
      h2.mb-3 Latest Sermon

    #latest_sermon_wrapper.d-none
      .video-container
        #latest_sermon_embed

    .col-10.offset-1.mt-3
      p.mt-1.mb-1
        ' A new sermon is posted each week. Visit our
        a> href=@YOUTUBE target="_blank" YouTube channel
        ' for more!

  .row.mt-4
    .col-10.offset-1
      hr.mb-5
      h2.mb-3 Men's Study

      p Please join us each Wednesday night at 7:00 PM for our men's study.
      a.btn.btn-default.m-4 href="/mens-study" Lesson Handouts

  /.row.mt-4
    /.col-10.offset-1
      /hr.mb-5
      /h2.mb-3 School Supply Drive

      /p If you wish to contribute to a local Title 1 school supply drive, you may bring supplies each Lord's Day.
      /a.btn.btn-default.m-4 href="/school-supplies" School Supply List



#about-vanguard.pb-5.container-fluid
  .row
    .col-lg-5.mt-5.offset-lg-1.text-center
      .display-4.mt-4 What is the Vanguard Presbyterian Church?
      picture
        source srcset="/images/vp-logo.webp" type="image/webp"
        img.mb-4.mt-4 src="/images/vp-logo.png"

    .col-10.offset-1.col-lg-5.offset-lg-0.mt-5
      p
        | By the grace of God, Vanguard Presbyterian Church will be a grass-roots, presbyterian denomination committed
          to discipling the nations in the power of the Holy Spirit.
      p
        | First and foremost, we undertake this labor for the glory of the Triune God (Colossians 3:23, 1 Corinthians 10:31),
          fully aware that only His undeserved favor (Ephesians 2:8,9) will bring this vision of ministry to reality.
          We live in a world of great darkness. We understand that Christ’s call to disciple the nations is an utter
          impossibility without the presence and pervasive power of the Holy Spirit coming upon our preaching, evangelizing,
          teaching, exhorting, discipling, leading, giving, counseling, church planting, mercy ministry, and world missions.
          Why? Because people are dead in their trespasses and sins (Ephesians 2:1-3). None understand, none seek for God.
          There is none righteous, not even one (Romans 3:10ff)...
      p.text-center.lead.mt-5
        a.btn.btn-white target="_blank" href="https://vanguardpresbytery.com/about/" Read More

javascript:
  embedLatestSermon();
