#page-address

  h1.text-center.mt-5 Address

  .row
    .col-md-6.pr-lg-5.mt-5
      h3.mb-3 Meeting Address

      = partial '/partials/address/meeting_address'

    .col-md-6.border-left.pl-lg-5.mt-5
      h3.mb-3 Mailing Address

      = partial '/partials/address/mailing_address'
