doctype html

html lang="en"
  head
  = partial "partials/head"

  body
    #body-wrap.d-flex.flex-column.justify-content-between
      div
        = partial "partials/navbar"

        #main-content.container-fluid
          = yield

      = partial "partials/footer"
