doctype html

html lang="en"
  head
  = partial "partials/head"

  body
    #body-wrap.d-flex.flex-column.justify-content-between
      = partial "partials/navbar"

      #main-content.container.mt-5.mb-5
        .mb-5
          = yield

      = partial "partials/footer"
