script src="/js/luxon-2-4-0.min.js"

h1.text-center Worship Schedule

.container.mt-5
  #2023-05-21.mb-5
    h5.text-center.mb-4.mt-4 May 21, 2023
    p.text-center TPH 244 – A Mighty Fortress Is Our God
    p.text-center TPH 456 – Jesus! What a Friend for Sinners!
    p.text-center TPH 538 – Take My Life and Let It Be

  hr

  #2023-05-28.mb-5
    h5.text-center.mb-4.mt-4 May 28, 2023
    p.text-center TH 355 – We Are God's People
    p.text-center TPH 249 – For the Beauty of the Earth
    p.text-center Communion
    p.text-center TH 693 – Blessed Assurance

  hr

  #2023-06-04.mb-5
    h5.text-center.mb-4.mt-4 June 4, 2023
    p.text-center TPH 222 – O God Our Help in Ages Past
    p.text-center TPH 403 – Glorious Things of Thee Are Spoken
    p.text-center TPH 276 – Jesus Paid It All

  hr

  #2023-06-11.mb-5
    h5.text-center.mb-4.mt-4 June 11, 2023
    p.text-center TPH 227 – How Great Thou Art
    p.text-center TPH 93 – Psalm 93 (The Lord Reigns over All)
    p.text-center Communion
    p.text-center TPH 338 – When I Survey the Wondrous Cross

  hr

  #2023-06-18.mb-5
    h5.text-center.mb-4.mt-4 June 18, 2023
    p.text-center TPH 236 – To God be the Glory
    p.text-center TPH 103A – Psalm 103A (Bless the Lord, My Soul)
    p.text-center TPH 446 – Be Thou My Vision

  hr

  #2023-06-25.mb-5
    h5.text-center.mb-4.mt-4 June 25, 2023
    p.text-center TPH 380 – Crown Him with Many Crowns
    p.text-center TPH 281 – Rejoice, the Lord Is King
    p.text-center Communion
    p.text-center TPH 352 – Man of Sorrows! What a Name

  hr

  #2023-07-02.mb-5
    h5.text-center.mb-4.mt-4 July 2, 2023
    p.text-center TPH 291 – O for a Thousand Tongues to Sing
    / p.text-center TPH 98C – Psalm 98C (Sing a New Song to Jehovah)
    p.text-center TPH 243 – How Firm a Foundation
    p.text-center TPH 459 – My Hope is Built on Nothing Less

  hr

  #2023-07-09.mb-5
    h5.text-center.mb-4.mt-4 July 9, 2023
    p.text-center TPH 219 – O Worship the King
    p.text-center TPH 216 – Praise to the Lord, the Almighty
    p.text-center Communion
    p.text-center TPH 431 – And Can It Be That I Should Gain

  hr

  #2023-07-16.mb-5
    h5.text-center.mb-4.mt-4 July 16, 2023
    p.text-center TPH 213 – Glory Be to God the Father
    p.text-center TPH 282 – I Greet Thee, Who My Sure Redeemer Art
    / p.text-center TPH 525 – Savior, Like a Shepherd Lead Us
    p.text-center TPH 277 – Before the Throne of God Above

  hr

  #2023-07-23.mb-5
    h5.text-center.mb-4.mt-4 July 23, 2023
    p.text-center TH 179 – Hallelujah! Thine the Glory
    p.text-center TPH 374 – All Hail the Power of Jesus' Name
    p.text-center Communion
    / p.text-center TPH 196 – At the Lamb's High Feast We Sing
    p.text-center TPH 283 – Fairest Lord Jesus

  hr

  #2023-07-30.mb-5
    h5.text-center.mb-4.mt-4 July 30, 2023
    p.text-center TPH 224 – Immortal, Invisible, God Only Wise
    p.text-center TPH 1B – Psalm 1B (How Blest the Man)
    p.text-center TPH 275 – Arise, My Soul, Arise

  hr

  #2023-08-06.mb-5
    h5.text-center.mb-4.mt-4 August 6, 2023
    p.text-center TPH 212 – Come, Thou Almighty King
    p.text-center TPH 526 – He Leadeth Me: O Blessed Thought!
    p.text-center TPH 340 – There Is a Fountain Filled with Blood

  hr

  #2023-08-13.mb-5
    h5.text-center.mb-4.mt-4 August 13, 2023
    p.text-center TPH 244 – A Mighty Fortress Is Our God
    p.text-center TPH 99B – Psalm 99B (The Lord God Reigns in Majesty)
    p.text-center Communion
    p.text-center TPH 465 – Love Divine, All Loves Excelling

  hr

  #2023-08-20.mb-5
    h5.text-center.mb-4.mt-4 August 20, 2023
    p.text-center TPH 415 – We Gather Together
    p.text-center TH 465 – Marvelous Grace of Our Loving Lord
    p.text-center TPH 278 – Nothing but the Blood

  hr

  #2023-08-27.mb-5
    h5.text-center.mb-4.mt-4 August 27, 2023
    p.text-center TPH 230 – Holy, Holy, Holy!
    p.text-center TPH 245 – Great Is Thy Faithfulness
    p.text-center Communion
    p.text-center TPH 433 – Amazing Grace

  hr

  #2023-09-03.mb-5
    h5.text-center.mb-4.mt-4 September 3, 2023
    p.text-center TPH 243 – How Firm a Foundation
    p.text-center TPH 250 – I Sing the Almighty Power of God
    p.text-center TPH 283 – Fairest Lord Jesus

  hr

  #2023-09-10.mb-5
    h5.text-center.mb-4.mt-4 September 10, 2023
    p.text-center TPH 247 – We Praise You O God Our Redeemer Creator
    p.text-center TPH 425 – How Sweet and Awesome Is the Place
    p.text-center Communion
    p.text-center TPH 452 – Rock of Ages, Cleft for Me

  hr

  #2023-09-17.mb-5
    h5.text-center.mb-4.mt-4 September 17, 2023
    p.text-center TPH 380 – Crown Him with Many Crowns
    p.text-center TPH 281 – Rejoice, the Lord Is King
    p.text-center TPH 277 – Before the Throne of God Above

  hr

  #2023-09-24.mb-5
    h5.text-center.mb-4.mt-4 September 24, 2023
    p.text-center TH 355 – We Are God's People
    p.text-center TPH 248 – All Creatures of Our God and King
    p.text-center Communion
    p.text-center TPH 456 – Jesus! What a Friend for Sinners!

  hr

  #2023-10-01.mb-5
    h5.text-center.mb-4.mt-4 October 1, 2023
    p.text-center TPH 219 – O Worship the King
    p.text-center TPH 216 – Praise to the Lord, the Almighty
    p.text-center TPH 431 – And Can It Be That I Should Gain

  hr

  #2023-10-08.mb-5
    h5.text-center.mb-4.mt-4 October 8, 2023
    p.text-center TPH 213 – Glory Be to God the Father
    p.text-center TPH 282 – I Greet Thee, Who My Sure Redeemer Art
    p.text-center Communion
    p.text-center TPH 538 – Take My Life and Let It Be

  hr

  #2023-10-15.mb-5
    h5.text-center.mb-4.mt-4 October 15, 2023
    p.text-center TH 179 – Hallelujah! Thine the Glory
    p.text-center TPH 374 – All Hail the Power of Jesus' Name
    p.text-center TH 693 – Blessed Assurance

  hr

  #2023-10-22.mb-5
    h5.text-center.mb-4.mt-4 October 22, 2023
    p.text-center TPH 224 – Immortal, Invisible, God Only Wise
    p.text-center TPH 249 – For the Beauty of the Earth
    p.text-center Communion
    p.text-center TPH 276 – Jesus Paid It All

  hr

  #2023-10-29.mb-5
    h5.text-center.mb-4.mt-4 October 29, 2023
    p.text-center TPH 244 – A Mighty Fortress Is Our God
    p.text-center TPH 403 – Glorious Things of Thee Are Spoken
    p.text-center TPH 236 – To God be the Glory

  hr

  #2023-11-05.mb-5
    h5.text-center.mb-4.mt-4 November 5, 2023
    p.text-center TPH 222 – O God Our Help in Ages Past
    p.text-center TPH 93 – Psalm 93 (The Lord Reigns over All)
    p.text-center TPH 446 – Be Thou My Vision

  hr

  #2023-11-12.mb-5
    h5.text-center.mb-4.mt-4 November 12, 2023
    p.text-center TPH 227 – How Great Thou Art
    p.text-center TPH 103A – Psalm 103A (Bless the Lord, My Soul)
    p.text-center Communion
    p.text-center TPH 338 – When I Survey the Wondrous Cross

  hr

  #2023-11-19.mb-5
    h5.text-center.mb-4.mt-4 November 19, 2023
    p.text-center TPH 291 – O for a Thousand Tongues to Sing
    p.text-center TPH 98C – Psalm 98C (Sing a New Song to Jehovah)
    p.text-center TPH 459 – My Hope is Built on Nothing Less

  hr

  = partial "/worship-schedule/advent_season"

  hr

  #2023-12-31.mb-5
    h5.text-center.mb-4.mt-4 December 31, 2023
    p.text-center TPH 244 – A Mighty Fortress Is Our God
    p.text-center TPH 219 – O Worship the King
    p.text-center TPH 431 – And Can It Be That I Should Gain

javascript:
  $(document).ready(function() {
    const SUNDAY = 7;
    var now = luxon.DateTime.now();
    var date = (now.weekday === SUNDAY) ? now : now.startOf('week').plus({days: 6});
    var id = date.toFormat("'#'yyyy-MM-dd");
    var scrollTop = $(id).offset().top - 35;
    $("html, body").animate({ scrollTop: scrollTop }, 300);
  });
