#page-give
  h1.text-center.mt-5.mb-5 Give Online

  .row
    .col-md-6.pr-lg-5
      h2.text-center.mb-3 PayPal

      p.mb-4 To give via credit card, please click the Give Now button below.

      .text-center
        a.btn.btn-primary target="_blank" href="https://www.paypal.com/donate?hosted_button_id=GMPQUHH27B7H4" Give Now

      p.mt-4
        | The church pays a processing fee (between 2% and 3%) for each credit card
          transaction.  Please do not let this keep you from giving.  If God has
          provided you with the means, please consider adding up to 3% to your
          offering to help us offset the costs.


    .col-md-6.border-left.pl-lg-5
      h2.text-center.mb-3 By Check

      p Please make your checks out to Grace Covenant Presbyterian Church.

.container
  .card.mt-5
    .card-body
      blockquote.blockquote.font-italic
        span.ldquo &ldquo;
        span
          | Each one must do just as he has decided in his heart, not reluctantly or under compulsion, for God loves a cheerful giver.
        span.rdquo &rdquo;
        footer.blockquote-footer.text-right 2 Corinthians 9:7, NASB
