#footer.container-fluid.p-5
  .container
    .row
      .col-md-5
        p  © 2023 Grace Covenant Church
        p
          a href="https://vanguardpresbytery.com/" A Congregation of the Vanguard Presbyterian Church


      .col-md-4
        p: a href="/give" Give Online
        p: a href="mailto:gccreformed@gmail.com" Email Us
        p: a href="/address" Mailing Address

      .col-md-3
        h5 Worship Every Lord's Day at 11:00 AM

        p Sunday School at 9:30 AM

        h5 Meeting At
        p = partial "partials/address/meeting_address"

script
  = partial "/js/bootstrap-4-5-3.min.js"
  = partial "/js/modernizr-webp.min.js"
  = partial "/js/site.js"
