head
  meta charset="utf-8"
  meta http-equiv="x-ua-compatible" content="ie=edge"
  meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"

  meta property="og:url"   content="https://gccreformed.com.com/"
  meta property="og:title" content="Grace Covenant Church, San Antonio"
  meta property="og:image" content="https://gccreformed.com/images/open-graph-21c80be4.png"

  title = current_page.data.title || "Grace Covenant Church"

  style
    = partial "/css/bootstrap-4-5-3.css"
    = partial "/css/fonts.css"
    = partial "/css/site.css"

  link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png"
  link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png"
  link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png"
  link rel="manifest" href="/images/favicon/site.webmanifest"

  script src="/js/jquery-3-6-0.min.js"
