#navbar.nav.navbar.navbar-expand-lg.navbar-light.bg-light.pb-3
  a.navbar-brand href="/"
   img.celtic-cross.d-none.d-md-inline-block src="/images/celtic-cross.svg"
   ' Grace Covenant Church

  button.navbar-toggler aria-controls="navbarSupportedContent" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarToggler" data-toggle="collapse" type="button"
    span.navbar-toggler-icon


  #navbarToggler.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.active
        a.nav-link href="/beliefs" Our Beliefs

      li.nav-item.active
        a.nav-link href="/mission-and-purpose" Mission & Purpose

      li.nav-item.active
        a.nav-link href="/leadership" Leadership

      li.nav-item.active
        a.nav-link.btn.btn-primary.pl-3.pr-3.ml-xl-2.d-inline-block href="/give" Give
